.header
  background-color: $color-blue-dark
  height: 6rem
  color: $color-white
  padding-top: env(safe-area-inset-top)
  position: relative
  &:after
    position: absolute
    content: ''
    display: block
    left: 0
    bottom: 0
    width: 100%
    height: 0.1rem
    background-color: rgba(126, 163, 217, 0.4)
  &__loginPage
    width: 100%
    height: 100%
    display: flex
    justify-content: center
    align-items: center
  
  /* Account Page */
  &__account
    display: flex
    align-items: center
    padding: 0 0 0 2rem
    &-login
      width: 26rem
    &-navigate
      display: flex
      align-items: center
      justify-content: space-between
      flex-grow: 1
      padding: 0 5rem
      background-color: $color-white
      color: $color-blue-dark
      height: 100%
      &_burger
        display: block
        width: 3.5rem
        height: 2.4rem
        position: relative
        padding-right: 1.5rem
        margin-right: 3rem
        &.mobile
          display: none
        &:before, &:after
          position: absolute
          content: ''
          top: 50%
          transform: translateY(-50%)
        &:after
          display: block
          border: 0.6rem solid transparent
          border-left: 0.8rem solid $color-blue-light
          right: -0.5rem
        &:before
          display: none
        &.active
          padding-right: 0
          padding-left: 1.5rem
          &:before
            display: block
            border: 0.6rem solid transparent
            border-right: 0.8rem solid $color-blue-light
            left: -0.5rem
          &:after
            display: none

      &_popup, &_popup-list
        // padding: 1.2rem 1.4rem
        background-color: $color-white
      &_popup
        position: absolute
        opacity: 0
        pointer-events: none
        bottom: -180%
        right: 4rem
        font-size: 1.6rem
        z-index: 10
        transition: 0.1s
        box-shadow: 0.4rem 0.4rem 0.6rem rgba($color-black, 0.28)
        &.visible
          transition: 0.1s
          opacity: 1
          pointer-events: auto
        &-item, &-subitem
          padding: 1rem 1.2rem
          display: flex
          align-items: center
          &:hover
            cursor: pointer
            background-color: rgba($color-callList-bg, 0.2)
          &:active
            color: red
        // &-item:first-child
        //   position: relative

        &-list
          width: 0
          visibility: hidden
          position: absolute
          top: 0
          right: 101%
          box-shadow: 0.2rem 0.4rem 0.6rem rgba($color-black, 0.14)
          pointer-events: none
          &.visible
            transition: 0.1s
            width: auto
            visibility: visible
            pointer-events: auto
        &-icon
          width: 3.2rem !important
          height: 3.2rem !important
          margin-right: 1.6rem
        &-subitem
          &.selected
            position: relative
            background-color: $color-callList-bg
            &:before
              position: absolute
              content: ''
              background-color: $color-blue-light
              height: 100%
              width: 0.5rem
              top: 0
              left: 0

      &_leftBlock, &_rightBlock
        display: flex
        height: 100%
        align-items: center
      &_leftBlock
        flex-grow: 1
      &_rightBlock
        position: relative
      &_search
        display: block
        width: 2.4rem
        &-input
          display: inline-block
          width: 0
          visibility: hidden
          margin: 0 0.5rem 0 1rem
          padding: 0 1.2rem
          font-size: 1.8rem
          box-sizing: border-box
          height: 3rem
          border-radius: 1.5rem
          border: 0.1rem solid $color-black
          transition: 0.2s
          pointer-events: none
          &:focus
            outline: none
          &.active
            width: 25rem
            visibility: visible
            // flex-grow: 1
            pointer-events: auto
        &-submit
          background-color: $color-blue-item
          color: $color-white
          border: none
          font-size: 1.4rem
          border-radius: 0.5rem
          padding: 0.8rem 1.1rem 0.7rem 1rem
          border-radius: 1.5rem
          transition: 0.1s
          opacity: 0
          pointer-events: none
          transition: 0.1s
          &:hover
            transform: scale(1.04)
          &:active
            transform: scale(1)
          &:focus
            outline: none
          &.active
            transition: 0.1s
            opacity: 1
            pointer-events: auto
      &_indicator
        padding: 0 1.1rem
        &-mobile
          display: none
      &_marker
        height: 100%
        padding: 0 2rem
        border-right: 0.02rem solid rgba(0, 0, 0, 0.3)
        &:first-child
          border-left: 0.02rem solid rgba(0, 0, 0, 0.3)
        &:nth-child(3)
          margin-right: 1rem
        img
          margin-top: 1.6rem
        &.active
          background-color: rgba($color-grey, 0.3)
          position: relative
          &:after
            position: absolute
            content: ''
            display: block
            width: 100%
            height: 0.4rem
            background-color: $color-blue-dark
            bottom: 0
            left: 0
            z-index: 1
          &:hover
            img
              transform: scale(1)
      &_main
        width: 2.3rem
      &_messages
        width: 3.5rem
      &_settings
        width: 2.3rem
      &_question
        width: 1.8rem
      &_bell
        width: 2.1rem
      &_profile
        display: block
        padding: 0
        margin: 0 1rem
        width: 4.2rem
        height: 4.2rem
        border-radius: 2.1rem
        background-color: rgba($color-grey, 0.3)
        background-image: url('../../assets/images/profile_icon.svg')
        background-repeat: no-repeat
        background-size: cover
      &_phonecall
        width: 3rem
        margin-bottom: 0.5rem

@media (max-width: 1420px)
  .header
    &__account
      &-login
        width: 20rem
      &-navigate
        padding: 0 2.2rem

@media (max-width: 1120px)
  .header
    height: auto
    padding: 0
    &__account
      width: 100%
      flex-direction: column
      &-login
        margin: 1rem 0
        width: 17.4rem
      &-navigate
        padding: 0
        height: 6rem
        width: 100%
        &_leftBlock
          flex-grow: 0
          margin-left: 1rem
        &_question, &_bell, &_phonecall
          display: none
        &_popup
          bottom: -440%
          right: 0.5rem
        &_indicator            
          &-mobile
            display: flex
            div img
              height: 100%
              padding: 0 0 0 0.5rem

@media (max-width: 720px)
  .header
    &__account
      height: 6rem
      &.mobile-visible
        transition: 0.1s
        height: 12rem
      &-navigate
        background: none
        &.mobile-visible
          background: $color-white  
        &_burger
          display: none
          &.mobile
            display: block
            top: 1.6rem
            position: absolute
            margin-right: 0
        &_popup
          top: 6.2rem
          bottom: auto
        &_leftBlock, &_rightBlock
          position: static
        &_profile
          position: absolute
          top: 1.1rem
          right: 0
          width: 3.2rem
          height: 3.2rem
          border-radius: 1.6rem
          background-color: $color-grey
          border: 0.1rem solid $color-grey
        &_marker:nth-child(3)
          margin-right: 0
        &_search, &_search-form, &_marker
          display: none
        &_search.mobile-visible, &_search-form.mobile-visible, &_marker.mobile-visible
          display: block


