.section

  /* Account Page */
  &__account
    &-page
      height: 100%
      display: flex
      position: relative
    &-label
      position: absolute
      content: ''
      display: none
      width: 1.4rem
      height: 3rem
      top: 0.3rem
      z-index: 1
      &.active
        display: block
      &:hover
        cursor: pointer
    &-menu
      display: block
      width: 0
      // height: calc(100% - 61px)
      height: 100%
      color: #ADB5BD
      background-color: $color-blue-dark
      background-repeat: no-repeat
      position: relative
      transition: 0.16s
      pointer-events: none
      position: absolute
      top: 0
      left: 0
      z-index: 2
      &.active
        width: 28rem
        visibility: visible
        pointer-events: auto
        position: relative
      &.active-button
        width: 28rem
        visibility: visible
        pointer-events: auto
        position: relative
      &.active-label
        width: 28rem
        visibility: visible
        pointer-events: auto
      &:after
        position: absolute
        content: ''
        display: block
        width: 100%
        height: 35rem
        background-image: url('../../assets/images/menu-sky-background.png')
        background-repeat: no-repeat
        background-size: cover
        bottom: 0
        pointer-events: none
      &_list
        height: 100%
        // margin-bottom: 8rem
        overflow: hidden
        overflow-y: scroll
        &::-webkit-scrollbar
          width: 0.8rem
          opacity: 0
        &::-webkit-scrollbar-thumb
          border-radius: 0.4rem
          background-color: rgba($color-blue-light, 0.3)
      &_item
        width: 100%
        height: 5rem
        display: none
        &.visible
          display: block
        &.active
          position: relative
          &:before
            position: absolute
            content: ''
            display: block
            top: 0
            left: 0
            height: 100%
            width: 0.6rem
            background-color: $color-blue-light
            z-index: 2
        &:hover
          cursor: pointer
        &-block
          height: 100%
          display: flex
          align-items: center
          padding: 0 0 0 2.5rem
          position: relative
          border-bottom: 0.1rem inset $color-black
          z-index: 1
          &:hover
            .section__account-menu_item-bg
              width: 100%
        &-bg
          position: absolute
          display: block
          height: 100%
          width: 0
          top: 0
          left: 0
          background-color: rgba($color-blue-item, 0.5)
          transition: 0.2s
          z-index: -1
        &-image
          width: 2.2rem
          margin-right: 1.3rem
          img
            width: 100%
            height: auto
        &-title
          +roboto_medium
          font-size: 1.4rem
        &:last-child
          margin-bottom: 6rem

    /* iframe */
    &_frame-block
      height: calc(100% - 60px)
      flex-grow: 1
      &.overframe, &.overframe-notices
        display: block
        &:before
          position: absolute
          content: ''
          display: block
          top: 0
          left: 0
          width: 100%
          height: 100%
          z-index: 5
          background-color: rgba($color-black, 0.2)
          user-select: none
    &_frame
      width: 100%
      height: 100%


    /* Calling Flag to open the Softphone */
    &_callingFlag
      position: absolute
      display: none
      user-select: none
      box-shadow: 0.3rem 0.4rem 0.6rem rgba($color-black, 0.25)
      width: 6rem
      height: 6rem
      border-radius: 3rem
      background-color: $color-grey
      right: 1rem
      bottom: 7rem
      justify-content: center
      align-items: center
      &-icon
        width: 2.2rem
        svg
          width: 100%

@keyframes callingFlagCcalling
  from
    background-color: $color-grey
  to
    background-color: $color-green

@media (max-height: 840px)
  .section
    &__account
      &-menu_list
        height: 46rem
        overflow-y: scroll
        &::-webkit-scrollbar
          width: 0.8rem
          opacity: 0
        &::-webkit-scrollbar-thumb
          border-radius: 0.4rem
          background-color: rgba($color-blue-light, 0.3)

@media (max-width: 720px)
  .section
    &__account
      &-page
        &.hidden
          display: none
      &-menu
        &.active-button.mobile-visible
          width: 100% !important
      &_callingFlag
        &.active
          display: flex
        &.calling
          animation: 0.5s infinite callingFlagCcalling


@media (max-height: 630px)
  .section
    &__account
      &-menu_list
        height: 38rem

@media (max-height: 452px)
  .section
    &__account
      &-menu_list
        height: 32rem

@media (max-height: 400px)
  .section
    &__account
      &-menu_list
        height: 20rem

@media (max-width: 1420px)
  .section
    &__account
      &-menu
        &.active, &.active-button
          width: 22rem
        &:after
          background-size: cover

@media (max-width: 1120px)
  .section
    &__account
      &-menu
        height: calc(100% - 110px)
        &.active-button
          transition: none
      &-label.active
        display: none
      // &_frame-block

@media (max-width: 720px)
  .section
    &__account
      &-menu_item
        height: 6rem
        &-block:hover .section__account-menu_item-bg
          width: 0
        &-title
          font-size: 1.6rem


@media (max-width: 1120px)
  .section
    &__account
      &-menu.active-button
        width: 18rem

@media (max-width: 560px)
  .section
    &__account
      &-menu.search-mini
        margin-top: 5rem
        height: calc(100% - 160px)

@media (max-width: 720px)
  .section
    &__account
      &_frame-block
        &.menu-visible
          transition: 0.1s
          flex-grow: 0
          width: 0
          height: 0



