.booking
  &-location
    .block-address
      margin: 1.6rem 0 0.9rem
    .block-map
      height: 48rem
      margin-bottom: 1.6rem
  &-left
    display: none
    margin-right: 3rem
    transition: 0.1s
    &.collapse
      opacity: 0
      transition: 0.1s
      pointer-events: none
    &.active
      display: block
  &-right
    margin-left: 3rem
  &-center
    padding: 0.5rem 0 0
    div:first-child
      display: flex
  &-callInfo
    margin-left: 2rem
    flex-grow: 1

