.section
  padding: 0 env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left)
  /* SignIn Page */
  &__login
    &-page
      display: block
      width: 100%
      height: calc(100% - 60px)
      position: relative
      &:before
        display: block
        content: ''
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0
        background-image: url('../../assets/images/login-page-background.jpg')
        background-size: cover
        opacity: 0.5
        pointer-events: none
        z-index: -1
    &-block
      padding: 3.5rem 0 4rem
      display: block
      background-color: $color-bg-main
      width: 40rem
      border-radius: 1.5rem
      box-shadow: 0.6rem 0.4rem 0.6rem rgba($color-black, 0.28)
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)

    &-form
      &_type
        display: flex
        align-items: center
        justify-content: center
        margin-left: auto
        margin-right: auto
        margin-bottom: 1.2rem
      &_label
        display: block
        +roboto_regular
        font-size: 1.6rem
        text-align: right
        width: 7.5rem
        margin-right: 1.2rem
      &_input
        display: block
        box-sizing: border-box
        +roboto_light
        width: 15rem
        height: 2.4rem
        left: 11.4rem
        top: 0
        background: #FFFFFF
        border: 0.05rem solid rgba($color-black, 0.4)
        box-sizing: border-box
        border-radius: 1.2rem
        padding: 0 0 0 0.7rem
        &:focus
          outline: none
      &_link
        margin: 0 auto 3.5rem
        display: block
        width: 9.5rem
        +roboto_light
        font-size: 1.2rem
        a
          color: $color-blue-dark
          &:active
            color: red
          &:focus
            outline: none
      &_title
        +roboto_medium
        font-size: 2.4rem
        color: $color-blue-light
        margin: 0 0 3rem
        text-align: center
      &_submit
        font-size: 1.8rem
        height: 4rem
        border-radius: 2rem
        width: 13.5rem
        display: block
        margin: 0 auto
        transition: 0.1s
        &:hover
          cursor: pointer
          transform: scale(1.1)

  /* Selecting of Account Page */
  &__accounts
    &-block
      background-color: $color-white
      padding: 4rem 0
    &-content
      background-color: $color-bg-main
      max-height: 30rem
      border-top: 0.1rem solid rgba($color-black, 0.1)
      border-bottom: 0.1rem solid rgba($color-black, 0.1)
      overflow-x: hidden
      overflow-y: scroll
      &::-webkit-scrollbar
        width: 0.8rem
      &::-webkit-scrollbar-thumb
        border-radius: 0.4rem
        background-color: rgba($color-grey, 0.7)
    &-item
      padding: 1.8rem 0 1.8rem 4rem
      &:not(:last-child)
        border-bottom: 0.1rem solid rgba($color-black, 0.1)
      &:hover
        background-color: rgba($color-black, 0.1)
    &-link
      display: flex
      align-items: center
      +roboto_regular
      font-size: 1.8rem
      color: $color-black
      text-decoration: none
      &:focus
        outline: none
      &:active
        transform: translateY(0.05rem)
      &_image
        background-color: $color-grey
        display: flex
        justify-content: center
        align-items: center
        width: 6.6rem
        height: 6.6rem
        border-radius: 3.3rem
        overflow: hidden
        margin-right: 1.6rem
      &_img
        width: 100%
      &_icon
        width: 68%

  /* Account Page */
  &__account
    height: calc(100%-60px)
    &-page
      height: 100%
      display: flex
      position: relative
    &-label
      position: absolute
      content: ''
      display: none
      background-color: $color-blue-dark
      width: 1.4rem
      height: 3rem
      top: 0.3rem
      z-index: 1
      &.active
        display: block
      &:hover
        cursor: pointer
    &-menu
      display: block
      visibility: hidden
      height: 100%
      width: 0
      color: $color-white
      background-color: $color-blue-dark
      background-repeat: no-repeat
      position: relative
      transition: 0.1s
      pointer-events: none
      &.active
        // display: block
        width: 28rem
        visibility: visible
        pointer-events: auto
      &:after
        position: absolute
        content: ''
        display: block
        width: 100%
        height: 35rem
        background-image: url('../../assets/images/menu-sky-background.png')
        background-repeat: no-repeat
        background-size: contain
        bottom: 0
        pointer-events: none
      &_item
        width: 100%
        height: 5rem
        &.active
          position: relative
          &:before
            position: absolute
            content: ''
            display: block
            top: 0
            left: 0
            height: 100%
            width: 0.6rem
            background-color: $color-blue-light
            z-index: 2
        &:hover
          cursor: pointer
        &-block
          height: 100%
          display: flex
          align-items: center
          padding: 0 0 0 2.5rem
          position: relative
          border-bottom: 0.1rem inset $color-black
          z-index: 1
          &:hover
            .section__account-menu_item-bg
              width: 100%
        &-bg
          position: absolute
          display: block
          height: 100%
          width: 0
          top: 0
          left: 0
          background-color: rgba($color-blue-item, 0.5)
          transition: 0.2s
          z-index: -1
        &-image
          width: 2.2rem
          margin-right: 1.3rem
          img
            width: 100%
            height: auto
        &-title
          +roboto_medium
          font-size: 1.4rem

    /* iframe */
    &-frame
      height: 100%
      flex-grow: 1
      frameborder: 0

@media (max-width: 990px)
  .section
    &__login
      &-form
        &_submit
          &:hover
            transform: scale(1)
    &__accounts
      &-item
        &:hover
          background-color: none


@media (max-width: 420px)
  .section
    &__login
      &-page
        position: fixed
        height: 21.4rem
        top: 50%
        transform: translateY(-107px)
        &:before
          display: none
      &-block
        padding: 0
        box-shadow: none
        position: static
        width: 100%
        top: 0
        left: 0
        transform: translate(0)
    &__accounts
      &-page
        height: 32rem !important
        transform: translateY(-16rem) !important
      &-block
        padding: 3rem 0
        max-height: 30rem
