@mixin arrow-list
  display: block
  width: 0
  height: 0
  margin: 0.4rem 0 0
  border-left: 0.6rem solid transparent
  border-right: 0.6rem solid transparent
  border-top: 0.6rem solid $color-grey
  transition: 0.2s
  &.rotate
    transform: rotate(180deg)
    transition: 0.2s
    margin: 0.2rem 0 0


.section
  &__account
    &_softphone
      display: none
      // width: 0
      box-sizing: border-box
      height: calc(100% - 61px)
      background-color: $color-white
      // transition: 0.1s
      // opacity: 0
      transition-property: display
      transition-delay: 0.2s
      z-index: 5
      &.active
        display: block
        transition-property: display
        transition-delay: 0.2s
        width: 28rem
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4), -2px 3px 8px rgba(0, 0, 0, 0.25)
        border:
          top: 0.3rem solid $color-blue-border
          left: 0.3rem solid $color-blue-border

      &-top
        display: flex
        box-sizing: border-box
        border-bottom: 0.1rem solid $color-blue-border
        margin-bottom: 1rem

      /* Tap Item */
      &-tap
        padding: 0.7rem 0
        box-sizing: border-box
        width: 25%
        user-select: none
        &:not(:last-child)
          border-right: 0.02rem solid rgba($color-black, 0.3)
        &:hover
          cursor: pointer
          svg
            transition: 0.1s
            transform: scale(1.06)
        &.selected
          position: relative
          background-color: rgba($color-grey, 0.15)
          &:after
            position: absolute
            display: block
            content: ''
            bottom: -0.1rem
            width: 100%
            height: 0.4rem
            background-color: $color-blue-light
          svg
            transform: scale(1)
        &_icon
          height: 1.5rem
          display: flex
          justify-content: center
          margin-bottom: 0.5rem
          svg
            height: 100%
            width: auto
        &_title
          text-align: center
          font-size: 1.2rem
          +roboto_medium
      &-home, &-dial, &-calls
        .section__account_softphone-tap_icon svg path
          fill: $color-blue-light
      &-contacts
        .section__account_softphone-tap_icon svg path
          stroke: $color-blue-light

      /* Control */
      &-control
        padding: 0 0.8rem
        margin-bottom: 3rem
        &_block
          display: flex
          align-items: center
          justify-content: space-between
          user-select: none
          &:first-child
            margin-bottom: 2rem
        &_status
          position: relative
        &_presence
          display: flex
          user-select: none
          &:hover
            cursor: pointer
          &-symbol
            display: block
            width: 2.5rem
            height: 2.5rem
            margin-right: 1rem
          &-title
            +roboto_light
            font-size: 1rem
            color: $color-grey
          &-block
            display: flex
            flex-direction: column
            justify-content: space-between
            height: 2.5rem
          &-text
            display: flex
            p
              font-size: 1.2rem
              margin-right: 0.5rem
          &-arrow
            @include arrow-list
            // display: block
            // width: 0
            // height: 0
            // margin: 0.4rem 0 0
            // border-left: 0.6rem solid transparent
            // border-right: 0.6rem solid transparent
            // border-top: 0.6rem solid $color-grey
            // transition: 0.2s
            // &.rotate
            //   transform: rotate(180deg)
            //   transition: 0.2s
            //   margin: 0.2rem 0 0

        /* Control-popup */
        &_popup
          background-color: $color-white
          border-top-right-radius: 0.5rem
          border-bottom-right-radius: 0.5rem
          position: absolute
          width: 15rem
          top: 120%
          left: -0.8rem
          opacity: 0
          transition: 0.1s
          pointer-events: none
          overflow: hidden
          z-index: 3
          @include box-shadow(0.1)
          @include navigate-visible
          &-item
            padding: 1rem 1rem
            display: flex
            align-items: center
            user-select: none
            &:hover
              cursor: pointer
              background-color: rgba($color-blue-light, 0.2)
            &.selected
              background-color: rgba($color-grey, 0.23)
          &-icon
            width: 2.5rem
            height: 2.5rem
            margin-right: 1rem
            svg
              width: 100%
          &-title
            font-size: 1.2rem

        &_quit
          width: 1.7rem
          margin-right: 1rem
          svg
            width: 100%
            height: auto
          &:hover
            transition: 0.1s
            cursor: pointer
            transform: scale(1.1)
            width: 1.7rem
          &:active
            transform: scale(1)

        /* Headphones */
        &_headphones
          display: flex
          align-items: center
          &-icon
            width: 1.9rem
            height: auto
            margin-right: 0.8rem
            svg
              width: 100%
          &-arrow
            display: block
            width: 0
            height: 0
            margin: 0.4rem 0 0
            border-left: 0.6rem solid transparent
            border-right: 0.6rem solid transparent
            border-top: 0.6rem solid $color-grey
            transition: 0.2s

        /* Volume Range */
        &_volume
          display: flex
          align-items: center
          &-container
            width: 15.8rem
            height: 0.16rem
            border-radius: 0.08rem
            position: relative
            margin: 0 0.6rem
          &-input
            margin: 0
            position: absolute
            box-sizing: border-box
            width: 100%
            height: 100%
            display: block
            -webkit-appearance: none
            z-index: 2
            top: 0
            left: 0
            background: none
            outline: none
            &:hover
              cursor: pointer
            &:active, &:focus
              outline: none
            &::-webkit-slider-thumb
              -webkit-appearance: none
              width: 1.6rem
              height: 1.6rem
              border-radius: 0.8rem
              cursor: pointer
              background-color: #F5EEEE
              outline: none
              box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25)
              transform: translateX(0)
            &::-moz-focus-outer
              border: 0
          &-bar
            position: absolute
            display: block
            left: 0
            top: 0
            width: 100%
            height: 0.16rem
            overflow: hidden
            border-radius: 0.08rem
            background-color: $color-grey
            z-index: 0
          &-fill
            display: block
            width: calc(50% - 8px)
            height: 100%
            z-index: 4
            background-color: $color-blue-light
          &-icon
            margin: 0.1rem 0 0

      /* Content */
      &-content
        height: calc(100% - 154.6px)

        /* Content-item */
        &_item
          display: none
          width: 100%
          &.active
            display: block

        /* Calls */
        &_calls
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25)
          &-list
            max-height: 50rem
            overflow: hidden
            overflow-y: scroll
            @include custom-scroll
          &-item
            display: flex
            align-items: center
            padding: 1rem 0.8rem
            box-sizing: border-box
            user-select: none
            &:not(:last-child)
              border-bottom: 0.05rem solid $color-grey
            &:hover
              cursor: pointer
            &:active
              background-color: $color-callList-bg
          &-symbol
            display: none
            margin-right: 1rem
            width: 1.4rem
            &.active
              display: inline-block
          &-data p
            line-height: 1.2
            font-size: 1.2rem
            color: $color-grey
          &-contIcon
            display: none
            width: 1.1rem
            height: 1.3rem
            float: left
            margin-right: 0.4rem
            svg
              width: 100%
              height: 100%
            &.visible
              display: block

        /* Search contacts */
        &_contacts
          overflow: hidden
          &-search
            padding: 0 0.8rem
            margin-bottom: 3rem
            position: relative
          &-icon
            width: 1.8rem
            height: 1.8rem
            position: absolute
            left: 1.6rem
            top: 50%
            transform: translateY(-50%)
            z-index: 2
            svg
              width: 100%
              height: 100%
          &-input
            border-radius: 0.5rem
            display: block
            font-size: 1.4rem
            border: none
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14)
            outline: none
            padding: 1.3rem 0.8rem 1.3rem 3rem
            background-color: rgba($color-grey, 0.15)
            width: 100%
            box-sizing: border-box
          &-list
            overflow-y: scroll
            max-height: 42rem
            @include custom-scroll
          &-item
            padding: 1rem 0.8rem 1rem 2.8rem 
            font-size: 1.4rem
            display: flex
            box-sizing: border-box
            border-bottom: 0.1rem solid $color-grey
            user-select: none
            &:hover
              cursor: pointer
            &:active
              background-color: $color-callList-bg
          &-name
            margin-right: 1rem
            max-width: 11rem
            overflow: hidden
            white-space: nowrap
            text-overflow: ellipsis
            span:first-child
              margin-right: 0.4rem
          &-number
            color: $color-blue-light

        /* Home-item */
        &_home
          height: 100%
          &-block
            padding: 0 0.8rem
            height: 100%
            overflow: hidden
            overflow-y: scroll
            @include custom-scroll
          &-item
            padding: 1.6rem 0
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25)
            border-radius: 0.5rem
            background-color: $color-bg-main
            margin-bottom: 2rem
            &.inactive
              display: none
            &_icon
              padding: 0 1.4rem
              display: flex
              align-items: flex-end
              margin-bottom: 1.2rem
              svg
                width: 1.4rem
                height: 1.4rem
                margin-right: 0.42rem
              p
                font-size: 1.1rem
                margin-right: 0.5rem

            &_data
              padding: 0 1.4rem
              position: relative
              display: flex
              justify-content: space-between
              margin-bottom: 2rem
              &:after
                position: absolute
                content: ''
                display: block
                width: 4.8rem
                height: 4.5rem
                top: 1.3rem
                left: 50%
                transform: translateX(-50%)
                background-image: url('../../assets/images/arr-receive.svg')
                background-repeat: no-repeat
                background-size: cover
            &_text > div
              box-sizing: border-box
              border-bottom: 0.02rem solid $color-grey
              user-select: none
              &:not(:last-child)
                margin-bottom: 0.7rem
            &_location-icon
              width: 0.7rem
              height: 1rem
              float: left
              margin-right: 0.2rem
              svg
                width: 100%
                height: 100%
              &.inactive
                display: none
            &_client
              &-name, &-tel, &-location
                line-height: 1.2
                font-size: 1.2rem
              &-tel
                color: $color-blue-light
            &_operator
              &-name, &-tel, &-location
                line-height: 1.2
                font-size: 1.2rem
              &-tel
                color: $color-blue-light
            &_client-name, &_client-tel, &_client-location, &_operator-name, &_operator-tel, &_operator-location
              p
                white-space: nowrap
                max-width: 9.8rem
                overflow: hidden
                text-overflow: ellipsis

            &_actions
              &-menu
                border-top: 0.2rem solid $color-blue-border
                background-color: $color-white
                &.inactive
                  display: none
              &-list
                width: 100%
                height: 100%
              &-item
                padding: 1rem 1.4rem
                &:not(:last-child)
                  border-bottom: 0.1rem solid $color-grey
                p
                  font-size: 1.2rem
                  user-select: none
                  &:hover
                    text-decoration: underline
                &:hover
                  cursor: pointer
                &:active
                  background-color: $color-callList-bg
              &-blacklist
                display: flex
                align-items: center
                justify-content: space-between
                svg
                  width: 1.1rem
                  height: 0.8rem
                  &.inactive
                    display: none
              &-comment
                div
                  font-size: 1.2rem
                  user-select: none
                &.open
                  &:active
                    background-color: $color-white
                &_form
                  margin-top: 0.7rem
                  outline: none
                  &.inactive
                    display: none
                &_input, &_textarea
                  background-color: $color-background-area
                  border: none
                  outline: none
                  border: 0.5px solid rgba(0, 0, 0, 0.2)
                  box-sizing: border-box
                  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.25)
                  border-radius: 0.5rem
                  width: 100%
                &_input
                  padding: 0.5rem 0 0.5rem 3.3rem
                &_textarea
                  height: 10rem
                  padding: 0.2rem 0.2rem
                  box-sizing: border-box
                  overflow: hidden
                  textarea
                    outline: none
                    resize: none
                    width: calc(100% - 6px)
                    height: calc(100% - 27px)
                    border: none
                    background: none

                &_tags
                  position: relative
                  margin-bottom: 0.6rem
                &_label
                  position: absolute
                  color: $color-grey
                  font-size: 1.2rem
                  top: 50%
                  transform: translateY(-50%)
                  left: 0.4rem
                &_text
                  position: relative
                  overflow: hidden
                &_submit
                  position: absolute
                  right: 0.4rem
                  bottom: 0.8rem
                  border: none
                  outline: none
                  background: none
                  // border-bottom-left-radius: 0.5rem
                  // border-bottom-right-radius: 0.5rem
                  // width: 100%
                  color: $color-blue-light
                  font-size: 1.4rem
                  z-index: 3
                  transition: 0.1s
                  &:hover
                    cursor: pointer
                  &:active
                    transform: translateY(0.1rem)
                  &.inactive
                    color: $color-grey
                    +roboto_light
                    &:hover
                      cursor: default
                    &:active
                      transform: translateY(0)

            /* Buttons */
            &_buttons
              padding: 0 1.4rem
              display: flex
              align-items: center
            &_button
              user-select: none
              transition: 0.1s
              &:hover
                cursor: pointer
                transform: scale(1.01)
              &:focus
                outline: none
              &:active
                transform: translateY(0.1rem)
              &-info
                +roboto_medium
                font-size: 1.2rem
                color: $color-blue-light
                width: 2.1rem
                height: 2.1rem
                display: flex
                justify-content: center
                align-items: center
                border-radius: 1.05rem
                border: 0.1rem solid $color-blue-light
                transition: 0.1s
                &:hover
                  transform: scale(1.01)
                &.inactive
                  color: $color-grey-2
                  border-color: $color-grey-2
                  &:hover
                    cursor: default
                    transform: scale(1)
                  &:active
                    transform: translateY(0)
              &-callsBlock
                display: flex
                width: 10rem
                justify-content: space-between
                margin-left: 4.5rem
              &-takeCall
                display: flex
              &-takeCall, &-rejectCall
                width: 3.7rem
                height: 3.7rem
                border-radius: 1.85rem
                display: flex
                justify-content: center
                align-items: center
                svg
                  width: 1.6rem
                  height: 1.7rem
              &-takeCall
                background-color: $color-green
              &-rejectCall
                background-color: $color-red
                svg
                  transform: rotate(135deg)
                  margin-top: 0.2rem
            &_actionButtons
              background-color: $color-white
              padding: 2rem 1.4rem
              &-block
                display: flex
                justify-content: space-between
                &:not(:last-child)
                  margin-bottom: 1.7rem
              &-button
                height: 2.4rem
                width: 5.4rem
                svg
                  width: 100%
                  height: 100%
                user-select: none
                transition: 0.1s
                &:hover
                  cursor: pointer
                  transform: scale(1.01)
                &:focus
                  outline: none
                &:active
                  transform: translateY(0.1rem)

              &-microphone, &-phoneDown
                height: 3rem
                svg
                  width: 100%
                  height: 100%
                user-select: none
                transition: 0.1s
                &:hover
                  cursor: pointer
                  transform: scale(1.01)
                &:focus
                  outline: none
                &:active
                  transform: translateY(0.1rem)
              &-microphone
                width: 9.2rem
                svg
                  &.inactive
                    display: none
              &-phoneDown
                width: 12.3rem

            /* Infoblock */
            &_infoblock
              margin-top: 1.4rem
              box-sizing: border-box
              background-color: $color-white
              border:
                top: 0.2rem solid $color-blue-border
                bottom: 0.2rem solid $color-blue-border
              &.inactive
                display: none
              &-item
                padding: 1rem 0.8rem 1rem 1.4rem
                box-sizing: border-box
                user-select: none
                &:not(:last-child)
                  border-bottom: 0.1rem solid $color-grey
                &:hover
                  cursor: pointer
                &:active
                  background-color: $color-callList-bg
                &.inactive
                  display: none
                &_icon
                  margin-right: 0.7rem
                  width: 1.8rem
                  float: left
                  svg
                    width: 100%
                    height: auto
                &_text
                  +roboto_light
                  color: $color-grey
                  font-size: 1.2rem
                  line-height: 1.3

              &-appointment
                .section__account_softphone-content_home-item_infoblock-item_icon
                  transform: translateY(-0.1rem)
                  height: 1.7rem
                  svg
                    height: 100%
                .section__account_softphone-content_home-item_infoblock-item_text
                  line-height: 1.5
              &-incomingCall
                background-color: 
              &-cont
                .section__account_softphone-content_home-item_infoblock-item_text
                  margin-top: 0.4rem
          &-onhold
            background-color: #FFD4D4
          &-activeCall
            background-color: $color-blue-light
            .section__account_softphone-content_home-item_top
              color: $color-white
              padding: 0 1.4rem
              font-size: 1.2rem
              display: flex
              align-items: flex-start
              justify-content: space-between
            .section__account_softphone-content_home-item_time
              display: flex
              justify-content: space-between
              margin-bottom: 1.2rem
              width: 12rem
              border-bottom: 0.1rem solid $color-white
            .section__account_softphone-content_home-item_data
              &:after
                background-image: url('../../assets/images/arr-receive-white.svg')
            .section__account_softphone-content_home-item_text div
              color: $color-white
              border-color: $color-white
            .section__account_softphone-content_home-item_infoblock
              margin-top: 0

        /* Dial block */
        &_dial
          height: 100%
          box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25)
          &-block
            height: 100%
            padding: 1.2rem 0 0
            overflow: hidden
            overflow-y: scroll
            @include custom-scroll
          &-input
            padding: 0 1.4rem 0 2rem
            margin-bottom: 0.8rem
            position: relative
            input
              font-size: 2.4rem
              +roboto_medium
              outline: none
              width: 20.6rem
              border: none
          &-backspace
            position: absolute
            right: 1.4rem
            user-select: none
            top: 50%
            transform: translateY(-50%)
          &-backspaceIcon
            width: 2.4rem
            height: 1.8rem
            svg
              width: 100%
              height: 100%
          &-contact
            padding: 0 2rem
            margin-bottom: 1rem
            display: flex
            align-items: center
            user-select: none
          &-contIcon
            width: 1.4rem
            height: 1.6rem
            margin-right: 0.4rem
            transform: translateY(-0.1rem)
            svg
              width: 100%
              height: 100%
          &-contName
            font-size: 1.2rem
          &-account
            padding: 1rem 1.4rem 1rem 2rem
            box-sizing: border-box
            font-size: 1.2rem
            user-select: none
            border:
              top: 0.1rem solid $color-grey-2 
              bottom: 0.1rem solid $color-grey-2
          &-accBlock
            display: flex
            // position: relative
          &-accFrom
            margin-right: 0.7rem
            +roboto_medium
            color: $color-blue-light
          &-accSelect
            display: flex
            width: 18rem
            justify-content: space-between
            &:hover
              cursor: pointer
          &-accName
            max-width: 5.7rem
            overflow: hidden
            white-space: nowrap
            text-overflow: ellipsis
          &-accNumber
            color: $color-blue-light
          &-accList
            margin: 0.6rem 0 0 3rem
            width: 17.7rem
            border-radius: 0.4rem
            @include box-shadow(0.1)
          &-accListItem
            display: flex
            justify-content: space-between
            padding: 1rem 0.8rem
            width: calc(100% - 1.6rem)
            &:not(:last-child)
              border-bottom: 0.05rem solid $color-blue-border
            &:hover
              cursor: pointer
            &:active
              background-color: rgba($color-grey, 0.15)
          &-accArrow
            @include arrow-list
            transform: translateY(-0.1rem)
          &-keyboard
            padding: 2rem 0
            margin: 0 auto
            max-width: 20rem
          &-keys
            display: flex
            justify-content: space-around
            margin-bottom: 1.6rem
          &-key
            user-select: none
            text-align: center
            padding: 0.4rem 0 0
            width: 6rem
            height: 5.6rem
            border-radius: 3rem
            overflow: hidden
            &:not(:last-child)
              margin-bottom: 1rem
            &:hover
              cursor: pointer
            &:active
              background-color: rgba($color-grey, 0.15)
          &-keyStar, &-keyCell
            padding: 1.5rem 0 0
            height: 4.5rem
            p
              font-size: 2.2rem !important
          &-digit
            +roboto_light
            color: $color-blue-light
            font-size: 3.2rem
          &-letters
            +roboto_medium
            font-size: 1.4rem
            color: $color-grey
            text-transform: uppercase
          &-phoneCall
            transition: 0.1s
            outline: none
            user-select: none
            display: flex
            justify-content: center
            &:active
              transform: translateY(0.1rem)
          &-phoneCallIcon
            display: flex
            justify-content: center
            align-items: center
            width: 4.5rem
            height: 4.5rem
            border-radius: 2.25rem
            background-color: $color-green
            &:hover
              cursor: pointer
              transform: scale(1.01)
            svg
              width: 2rem
              height: 2rem





