$color-bg-main: #F6F7FB
$color-blue-dark: #0F1A34
$color-blue-light: #0080FE
$color-blue-item: #2a416e
$color-white: #ffffff
$color-black: #000000
$color-grey: #C4C4C4
$color-callList-main: #8391AD
$color-callList-light: #D0D3DA