@import 'variables'
@import 'fonts'
@import 'mixins'
@import 'ui-elements'

@mixin blue-border
  border: 0.1rem solid $color-blue-light

@mixin box-shadow-simple
  box-shadow: 0.3rem 0.3rem 0.5rem rgba($color-black, 0.2)

@mixin custom-scroll
  overflow: hidden
  overflow-y: scroll
  scrollbar-base-color: transparent
  &::-webkit-scrollbar
    // position: absolute
    width: 0.8rem
  &::-webkit-scrollbar-thumb
    border-radius: 0.4rem
    background-color: rgba($color-grey, 0.4)
  &::-webkit-scrollbar-track-piece 
    background: transparent


html
  font-size: 10px
body
  +roboto_regular
  background-color: $color-bg-main

input, textarea
  autocomplete: off

.content
  height: 100%
  display: flex
  &-left, &-right
    width: 28rem
  &-center
    flex-grow: 1
  &-right
    padding: 0.5rem 0 0
    .block-content
      padding: 2rem 1rem 2.2rem 1.8rem

.block
  &-location
    background-color: $color-white
    padding: 0.5rem 1.2rem 0
  &-title
    user-select: none
    +roboto_medium
    font-size: 1.6rem
    display: inline-block
    padding: 0.7rem 3.8rem
    background-color: $color-blue-light
    color: $color-white
    border-radius: 0.5rem
  &-list
    display: block
    opacity: 0
    top: 2.5rem
    width: 100%
    position: absolute
    z-index: 2
    box-sizing: border-box
    border: 0.1rem solid $color-data-border
    border-radius: 0.3rem
    background-color: $color-white
    pointer-events: none
    transition: 0.1s
    box-shadow: 0.3rem 0.3rem 0.5rem rgba($color-black, 0.2)
    &.visible
      opacity: 1
      pointer-events: auto
    &_item
      box-sizing: border-box
      padding: 0.4rem 0.5rem
      font-size: 1.3rem
      +roboto_light
      &:not(:last-child)
        border-bottom: 0.1rem solid $color-data-border
      &:hover
        cursor: pointer
        text-decoration: underline
        // background-color: $color-bg-main
      &.selected
        background-color: $color-bg-main

  &-address
    position: relative
    &_text
      font-size: 1.3rem
      +roboto_light
      &:hover
        cursor: pointer
  &-map
    box-sizing: border-box
    border-radius: 0.5rem
    background-color: rgba($color-grey, 0.3)
    @include blue-border
    overflow: hidden
    width: 25.6rem
    iframe
      width: 100%
      height: 100%

  &-content
    padding: 2rem 1.8rem 2.2rem
    background-color: $color-white
    border-radius: 0.5rem
    position: relative
    &-title
      position: absolute
      top: -2.1rem
      left: 0
      display: flex
      align-items: center

.house
  &-img
    overflow: hidden
    @include blue-border
    border-radius: 0.5rem
    height: 18rem
    margin-bottom: 0.8rem
    position: relative
    img
      width: 100%
      height: 100%
    p
      display: inline-block
      position: absolute
      bottom: 0
      left: 0
      z-index: 2
      font-size: 1rem
      +roboto_light
      color: $color-white
      @include box-shadow-simple

  &-table
    width: 100%
    table 
      width: 100%
      font-size: 1.2rem
      color: $color-blue-light
      tr 
        th
          text-align: center
          line-height: 1.2
          &:first-child
            text-align: left
            width: 50%

.call
  &-info
    background-color: $color-white
    border-radius: 0.5rem
    padding: 2rem 1.8rem 2.3rem
    &_row
      display: flex
      align-items: center
      p
        width: 8.1rem
        font-size: 1.4rem
        margin-right: 1.5rem
        user-select: none
      &:not(:last-child)
        margin-bottom: 1.8rem
  &-fromAction, &-leadSource
    height: 2.2rem
    flex-grow: 1
    position: relative
    &_clear
      width: 1.2rem
      height: 1.2rem
      margin-left: 1.5rem
      user-select: none
      transition: 0.1s
      svg
        width: 100%
        height: 100%
      &:hover
        cursor: pointer
        transform: scale(1.05)
      &:active
        transform: scale(1)
    &_input
      font-size: 1.4rem
      +roboto_regular
      border: none
      outline: none
      width: calc(100% - 20px)
      display: none
      background-color: transparent
      transform: translateY(-0.3rem)
      &.active
        display: block
    &_arrow
      &:hover
        cursor: pointer
    &_text
      display: flex
      align-items: center
      p
        flex-grow: 1
        padding: 0 0 0.2rem
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis
    &_list
      opacity: 0
      pointer-events: none
      position: absolute
      left: -0.1rem
      z-index: 2
      border: 0.1rem solid $color-data-border
      box-sizing: border-box
      width: calc(100% + 2px)
      top: 2.2rem
      background-color: $color-white
      border-radius: 0.4rem
      @include box-shadow-simple
      &-item
        height: 3.5rem
        box-sizing: border-box
        padding: 0 0 0 1rem
        display: flex
        align-items: center
        user-select: none
        &:hover
          cursor: pointer
        &:not(:last-child)
          border-bottom: 0.1rem solid $color-data-border
        &:nth-child(2)
          p
            flex-grow: 1
            overflow: hidden
            padding: 0 0 0.2rem
            white-space: nowrap
            text-overflow: ellipsis
        &:last-child
          color: $color-data-border
        &.selected
          background-color: $color-bg-main
      &.visible
        opacity: 1
        pointer-events: auto

  &-variant
    background-color: $color-white
    padding: 1rem 1.8rem
    border-radius: 0.5rem
    display: flex
    align-items: center
    &_buttons
      margin-right: 4.5rem
    &_btn
      padding: 0.4rem 2rem
      &:not(:last-child)
        margin-right: 1.8rem
      &.selected
        border: none
        background-color: $color-green
        color: $color-white
    &_search
      margin-top: 0.5rem
      background-color: $color-white
      border-radius: 0.5rem
      display: none
      transition: 0.1s
      padding: 2rem 1.8rem 2.4rem
      &.collapse
        transition: 0.1s
        opacity: 0
      &.active
        display: block
      &-form
        display: flex
        align-items: center
        justify-content: space-between
        margin-bottom: 1.8rem
      &-input
        outline: none
        margin-right: 1.5rem
        flex-grow: 1
        height: 2.6rem
      &-button
        padding: 0.3rem 1.8rem
      &-type
        display: flex
        align-items: center
        &:not(:last-child)
          margin-bottom: 1.4rem
        &_id
          +roboto_medium
          font-size: 1.4rem
          margin-bottom: 1rem
        &_product
          &:not(:last-child)
            margin-bottom: 0.8rem
          p
            +roboto_light
            font-size: 1.2rem
            &:first-child
              +roboto_regular
            &:not(:first-child)
              margin-left: 0.5rem
            &:not(:last-child)
              margin-bottom: 0.4rem
        &_data
          background-color: $color-bg-main
          border-radius: 0.3rem
          padding: 1.2rem 1rem 1.5rem
          flex-grow: 1
          margin-right: 1.5rem
        &_radiobtn
          width: 8.87rem
  &-terminal
    background-color: red
    flex-grow: 1
    background: $color-bg-main
    border: 0.1rem solid $color-data-border
    box-sizing: border-box
    box-shadow: inset 0 0 0.4rem rgba(0, 0, 0, 0.25)
    border-radius: 0.3rem
    box-sizing: border-box
    height: 5rem
    padding: 0.5rem 0.3rem
    @include custom-scroll
    p
      color: $color-red
      font-size: 1.2rem
      &:not(:last-child)
        margin-bottom: 0.2rem

  &-zipCode, &-company
    padding-top: 2.1rem
    width: 48%
    &_content
      display: flex
    &_form
      display: flex
      align-items: center
      margin-right: 1.8rem
    &_input
      outline: none
      font-size: 1.4rem
      margin-right: 1.5rem
      max-width: 12rem
    &_btn
      padding: 0.35rem 1.8rem
      font-size: 1.2rem
    &_status
      font-size: 1.4rem
      display: flex
      align-items: center
      p:last-child
        +roboto_light
        margin-left: 0.5rem
      &.blue
        p:last-child
          color: $color-blue-light
      &.red
        p:last-child
          color: $color-red
      &.green
        p:last-child
          color: $color-red

  &-company
    &_name
      display: flex
      align-items: center
      p
        font-size: 1.4rem
        margin-right: 1.5rem
    &_selector
      flex-grow: 1
      font-size: 1.4rem
      position: relative
    &_text
      height: 2.38rem
      display: flex
      align-items: center
      &:hover
        cursor: pointer
    &_arrow
      position: absolute
    &_list
      &-item
        +roboto_regular
        padding: 0.8rem 0.6rem

  &-contact
    padding-top: 2.1rem
    margin-bottom: 3rem
    &_number
      margin-bottom: 1.2rem
      &-item, &-name
        display: flex
        align-items: center
        font-size: 1.4rem
      &-item
        &:not(:last-child)
          margin-bottom: 1rem
      &-name
        width: 20rem
        margin-right: 1.5rem
        p:not(:last-child)
          margin-right: 0.3rem
          max-width: 9rem
          overflow: hidden
          white-space: nowrap
          text-overflow: ellipsis
          padding: 0.16rem 0.02rem
        p:last-child
          widows: 13.6rem
          white-space: nowrap
        svg
          width: 1.2rem
          height: 1.3rem
          transform: translateY(-0.1rem)
          margin-right: 0.5rem
      &-subtitle
        width: 15rem
        margin-right: 1.3rem
    &_new
      padding: 0 0 0 1.2rem
      margin-bottom: 2rem
      &-phones, &-addresses
        padding: 0
      &-phones
        margin-bottom: 1.5rem
      &-title
        display: flex
        margin-bottom: 1.8rem
      &-firstName, &-lastName, &-phone, &-company
        label
          font-size: 1.4rem
          margin-right: 1.8rem
        &:not(:last-child)
          margin-right: 2.5rem
      &-firstName, &-lastName, &-phone
        input
          width: 11.5rem
      &-company
        label span
          font-size: 1.2rem
          color: $color-grey
        input
          width: 27.6rem
      &-input
        outline: none

      &-topBlock, &-titleBlock
        display: flex
        align-items: center
        p
          +roboto_medium
          font-size: 1.4rem
      &-topBlock
        justify-content: space-between
        padding: 0.6rem 1.2rem 0
        margin-bottom: 1rem
      &-dontUse
        margin-right: 6rem
      &-leftBlock
        display: flex
        align-items: center
        justify-content: space-between
        width: 33.5rem
      &-payer
        display: flex
        p:first-child
          margin-right: 2.2rem
      &-phone_item
        display: flex
        align-items: center
        width: 32.3rem
        justify-content: space-between
        p:first-child
          width: 9rem
          margin-right: 0.9rem
        p:last-child
          width: 9.6rem
      &-block
        padding: 0.3rem 2.3rem
        background-color: $color-bg-main
        display: flex
        align-items: center
        justify-content: space-between
        &:not(:last-child)
          margin-bottom: 0.8rem
        &_text
          display: flex
        &_delete
          display: flex
          align-items: center
          width: 8rem
          justify-content: space-between
      &-sms
        display: flex
        align-items: center
        p
          margin-right: 0.9rem
      &-checkboxes
        display: flex
      &-checkbox
        display: flex
        p
          width: auto !important
          display: none
        &:first-child
          margin: 0 3.1rem
        &:last-child
          margin: 0 0.6rem
      &-phone
        &_add
          display: flex
          justify-content: space-between
          align-items: center
          width: 100%
          button
            margin-right: 6rem
            height: 2rem
        &_data
          display: flex
          align-items: center
        &_input
          outline: none
          width: 11.5rem
        &_name, &_phone
          display: flex
          align-items: center
          margin-left: 2.5rem
          label
            width: 4.36rem
            display: block
            margin-right: 1.2rem
      &-addresses
        &_item
          display: flex
          width: 100%
          justify-content: space-between
        &_add
          display: flex
          width: 100%
          p
            display: block
            margin: 0.4rem 2rem 0 0
            width: 8.32rem
            white-space: nowrap
          &-block
            display: flex
            margin-right: 1rem
            &:not(:last-child)
              margin-bottom: 1rem
            &:last-child
              margin-bottom: 0.5rem
          &-input
            display: block
            outline: none
            &::placeholder
              color: $color-data-border
            &:not(:last-child)
              margin-right: 1rem
            &.street
              width: 26.5rem
            &.unit
              width: 5rem
            &.city
              width: 7.6rem
            &.state, &.zip
              width: 6rem
            &.note
              flex-grow: 1
          &-btn
            display: flex
            justify-content: flex-end
            margin: 0.1rem 0 0
            flex-grow: 1
            button
              display: block
              height: 2.3rem
              margin-right: 6rem     
          &-propertyType
            position: relative
            width: 11rem
            margin-right: 1rem
            &_text
              position: relative
              &:hover
                cursor: pointer
              p
                margin: 0.16rem 0
            &_list
              top: 3rem
              &-item 
                padding: 0.5rem 0.5rem
                p
                  +roboto_regular
                  font-size: 1.4rem
                &:hover p
                  text-decoration: underline
        &_data
          margin-top: 0.5rem
          &-text
            margin-bottom: 0.3rem
          &-block
            display: flex
            height: 2.4rem
          &-propertyType
            height: 2.4rem
            position: relative
            width: 9rem
            margin-right: 1rem
            &_text
              border-radius: 0
              border: none
              background: transparent
              p
                margin: 0.16rem 0
                color: $color-data-border
              &:hover
                cursor: pointer
            &_arrow
              opacity: 0
              pointer-events: none
            &_list
              top: 2.9rem
              &-item
                padding: 0.7rem 0.5rem
                font-size: 1.3rem
                +roboto_regular
          &-note
            box-sizing: border-box
            outline: none
            border: none
            background: transparent
            color: $color-data-border
            +roboto_regular
            font-size: 1.4rem
            padding: 0 0 0.22rem

  &-units
    padding-top: 2.1rem
    margin-bottom: 3rem
    &_content
      margin-bottom: 2.5rem
      &-add
        width: 100%
        display: flex
        justify-content: center
        margin-bottom: 1rem
    &_add
      padding: 0.6rem 1.2rem
      background-color: $color-bg-main
      &:not(:last-child)
        margin-bottom: 2rem
      &-row
        display: flex
        align-items: center
        justify-content: space-between
        &:not(:last-child)
          margin-bottom: 2rem
      &-data
        display: flex
        &_title
          margin: 0.4rem 1rem 0 0
        &_trash
          margin-left: 2rem
          height: 2rem
      &-unitType, &-unit, &-brand, &-address
        &_text
          position: relative
          &:hover
            cursor: pointer
          p
            margin: 0.16rem 0
        &_listBlock
          position: relative
        &_input
          position: absolute
          display: none
          outline: none
          border: none
          width: 82%
          font-size: 1.4rem
          background: transparent
          top: 0.3rem
          left: 0.5rem
          &.active
            display: block
      &-unitType, &-unit, &-brand
        &_listBlock
          width: 13rem
        &_list
          width: 13rem
          top: 2.8rem
      &-unitType, &-unit, &-brand, &-address
        &_list
          &-item 
            padding: 0.65rem 0.5rem
            p
              +roboto_regular
              font-size: 1.4rem
      &-address
        &_listBlock
          width: 35rem
          margin-left: 2rem

      &-unit, &-brand
        &_list
          &-item
            &:last-child
              p
                color: $color-grey

      &-modelNumber, &-diagFee
        &_input
          width: 10rem
          font-size: 1.4rem
          outline: none

      &-description
        &_textarea
          resize: none
          outline: none
          font-size: 1.4rem
          +roboto_regular
          width: 52rem
          height: 4rem

  &-note
    padding-top: 2.1rem
    margin-bottom: 3.5rem
    &_textarea
      resize: none
      outline: none
      font-size: 1.4rem
      +roboto_regular
      width: 100%
      height: 4rem
  
  &-bookingSettings
    padding-top: 2.1rem
    margin-bottom: 3rem
    &_row
      display: flex
      align-items: center
      &:not(:last-child)
        margin-bottom: 1.4rem
      label, p
        display: block
        font-size: 1.4rem
      input
        outline: none
    &_showDays, &_showServRes, &_checkAvail, &_checkArea, &_onDate
      max-width: 19rem
      justify-content: space-between
    &_showDays
      input
        width: 5rem
    &_duration
      &-listBlock
        width: 8rem
    &_listBlock
      margin-left: 1rem
      position: relative
      &:hover
        cursor: pointer
      &-list
        width: calc(100% + 5px)
        overflow: hidden
        overflow-y: scroll
        max-height: 18rem
        @include custom-scroll
      &-item
        +roboto_regular
        padding: 0.5rem 0.4rem
        &:first-child
          margin-top: 0.5rem
        &:last-child
          margin-bottom: 0.5rem
    &_onDate
      input
        width: 13rem
        +roboto_regular
        font-size: 1.3rem

    &_ontime
      &-listBlock
        width: 6.9rem
      p
        white-space: nowrap
        &:nth-child(3)
          margin: 0 0.4rem
      &-listBlock
        &:nth-child(4)
          margin-left: 0

    .btn-apply
      margin-top: 1.5rem


  &-avaltime
    padding-top: 2.1rem
    margin-bottom: 3rem
    .block-content
      &:not(:last-child)
        margin-bottom: 0.8rem
    &_date
      width: 100%
      margin-bottom: 1.5rem
      p
        text-align: center
        font-size: 1.4rem
        +roboto_medium
        user-select: none
    &_hours, &_hour
      width: 100%
    &_hour
      display: flex
      align-items: center
      &:not(:last-child)
        margin-bottom: 1.3rem
    &_indicator
      display: block
      width: 1.3rem
      height: 1.3rem
      border-radius: 0.65rem
      margin-right: 1rem
      user-select: none
      position: relative
      box-sizing: border-box
      &:after
        position: absolute
        content: ''
        display: block
        width: 0.6rem
        height: 0.6rem
        border-radius: 0.3rem
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
      &.green:after
        background-color: $color-green
      &.blue:after
        background-color: $color-blue-light
      &.red:after
        background-color: $color-red

    &_time
      flex-grow: 1
      border: 0.1rem solid $color-blue-light
      padding: 0.4rem 0
      border-radius: 0.4rem
      // text-align: center
      white-space: nowrap
      p
        user-select: none
        font-size: 1.4rem
        text-align: center
        outline: none
        background: transparent
        span
          display: inline
          white-space: nowrap
          border: none
      &:hover
        cursor: pointer
        background-color: $color-bg-main
      &.from, &.till
        &:hover
          background: transparent
      &.selected
        background-color: $color-blue-light
        color: $color-white

  &-clearSave
    display: flex
    justify-content: flex-end
    margin-bottom: 7rem
    &_block
      button:first-child
        margin-right: 2rem


@import 'section-booking'

@media (max-width: 1500px)
  .booking
    &-center
      &_second-block
        flex-direction: column
        align-items: flex-start
  .call
    &-variant
      flex-direction: column-reverse
      align-items: flex-start
      &_buttons
        width: 100%
        display: flex
        // justify-content: space-between
    &-terminal
      width: 36rem
      margin-bottom: 1rem
    &-zipCode, &-company
      width: 100%
    &-zipCode
      margin-bottom: 3rem
      &_input
        max-width: none
    &-contact
      &_new
        input
          width: auto
        &-title
          flex-direction: column
          margin-bottom: 1rem
          flex-direction: column
        &-firstName, &-lastName
          margin-bottom: 1rem
        &-firstName, &-lastName, &-phone, &-company
          display: flex
          align-items: center
          label
            display: flex
            align-items: center
            width: 14.2rem

        &-addresses
          &_add
            &-block
              // flex-wrap: wrap
              &:not(:last-child)
                // margin-bottom: 0
            &-input
              // margin-bottom: 1rem
              &.street
                width: auto

    &-units
      &_add
        &-row
          flex-wrap: wrap
          &:not(:last-child)
            margin-bottom: 0
        &-data
          margin-bottom: 2rem
        &-description
          &_textarea
            width: 30rem
        &-address
          &_listBlock
            width: 30rem

@media (max-width: 1395px)
  .call
    &-contact
      &_new
        &-addresses
          &_add
            &-block
              // flex-direction: column
              flex-wrap: wrap
              &:not(:last-child)
                margin-bottom: 0
              &:last-child
                margin-top: 1rem
            &-propertyType
              // margin-bottom: 1rem
            &-input
              height: 2.38rem
              &:not(:last-child)
                margin-bottom: 1rem
        &-phone
          &_data
            p
              white-space: nowrap


@media (max-width: 1300px)
  .call
    &-contact
      &_new
        &-topBlock
          margin-bottom: 0.3rem
        &-payer, &-sms, &-dontUse
          p
            font-size: 1.2rem
        &-payer
          p
            &:first-child
              margin-right: 1rem
        &-sms p
          width: 7rem
          text-align: center
          margin-right: 0.5rem
        &-dontUse
          margin-right: 4rem
        &-leftBlock
          width: 28rem
        &-checkbox:first-child
          margin: 0 1.4rem
        &-phone
          &_item
            width: 27rem
          &_add
            button
              margin-right: 0
          &_data
            flex-direction: column
            align-items: flex-start
            p
              margin-bottom: 0.8rem
          &_name
            margin-bottom: 0.6rem
        &-block
          &_delete
            width: 6rem

@media (max-width: 1240px)
  .call
    &-contact
      &_new
        &-addresses
          &_add
            display: block
            p
              margin-bottom: 0.8rem
            &-block
              // justify-content: space-between
            &-propertyType
              &_text
                height: 2.38rem
            &-input.note
              flex-grow: 0
            &-btn
              display: flex
              justify-content: center
              margin: 1.5rem 0 1.3rem
              button
                margin-right: 0
                display: block

@media (max-width: 1120px)
  .call
    &-contact
      &_new
        &-leftBlock
          width: 8.6rem
        &-payer
          display: none
        &-phone
          &_item
            flex-direction: column
            align-items: flex-start
        &-checkboxes
          width: 15rem
          justify-content: space-between
          margin-top: 0.6rem
        &-checkbox
          p
            display: block
          &:first-child
            margin: 0
          &:last-child
            margin: 0
    &-units
      &_add
        &-data
          width: 100%
        &-description
          &_textarea
            width: 100%
        &-address
          &_listBlock
            width: 27rem




  // .call
  //   &-contact
  //     &_new
  //       input
  //         width: auto
  //       &-title
  //         flex-direction: column
  //         margin-bottom: 1rem
  //         flex-direction: column
  //       &-firstName, &-lastName
  //         margin-bottom: 1rem
  //       &-firstName, &-lastName, &-phone, &-company
  //         display: flex
  //         align-items: center
  //         label
  //           display: flex
  //           align-items: center
  //           width: 14.2rem


