.data-border
  border: 0.1rem solid $color-data-border
  box-sizing: border-box
  border-radius: 0.5rem
  background-color: $color-white
  font-size: 1.4rem
  padding: 0.25rem 0.5rem

.arrow-list
  display: inline-block
  box-sizing: border-box
  border-style: solid
  border-top: 0.5rem solid $color-grey
  border-left: 0.45rem solid transparent
  border-right: 0.45rem solid transparent
  position: absolute
  top: 50%
  right: 0.5rem
  transform: translateY(-50%)
  transition: 0.1s
  &:hover
    cursor: pointer
  &.open
    transform: rotate(180deg)
    top: calc(50% - 3px)

.arr-button
  width: 3rem
  height: 3rem
  border-radius: 1.5rem
  background-color: $color-blue-light
  display: flex
  align-items: center
  justify-content: center
  user-select: none
  &:hover
    cursor: pointer
  svg
    width: 1.7rem
    height: 1.7rem
    transition: 0.1s
  &.inactive svg
    transform: rotate(180deg)
    transition: 0.1s

.btn
  border: 0.1rem solid $color-blue-light
  border-radius: 0.5rem
  box-sizing: border-box
  color: $color-blue-light
  font-size: 1.6rem
  background-color: transparent
  outline: none
  transition: 0.1s
  &:hover
    cursor: pointer
    transform: scale(1.01)
  &:active
    transform: scale(1)
  &-marking
    width: 2.9rem
    height: 2.9rem
    border-radius: 1.45rem
    display: flex
    justify-content: center
    align-items: center
    margin-left: 1.5rem
    svg
      display: none
    &.attention
      background-color: $color-red
      svg:first-child
        display: block
        width: 0.3rem
        height: 1.5rem
    &.unsaved, &.saved
      svg:last-child
        display: block
        width: 1.7rem
        height: 1.1rem
    &.unsaved
      background-color: $color-data-yellow
    &.saved
      background-color: $color-green

    &-mini
      width: 1.9rem
      height: 1.9rem
      border-radius: 9.5rem
      svg
        &:first-child
          width: 0.3rem !important
          height: 0.97rem !important
        &:last-child
          width: 1.1rem !important
          height: 0.8rem !important

  &-add
    font-size: 1.3rem
    padding: 0.1rem 1.8rem

  &-clear, &-save
    font-size: 1.6rem
    +roboto_medium
    padding: 0.55rem 2.6rem
  &-save
    color: $color-green
    border-color: $color-green


.radiobox
  display: block
  width: 2.1rem
  height: 2.1rem
  border-radius: 1.05rem
  box-sizing: border-box
  border: 0.1rem solid $color-blue-light
  position: relative
  order: -1
  &:after
    position: absolute
    content: ''
    display: none
    width: 1.2rem
    height: 1.2rem
    border-radius: 0.6rem
    background-color: $color-blue-light
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
.input-radio
  position: absolute
  opacity: 0
  z-index: 2
  width: 2.1rem
  height: 2.1rem
  &:hover
    cursor: pointer
// #radio-type-1:checked + .radiobox:after
//   display: block
// #radio-number-1:checked + .radiobox:after
//   display: block

.check, .cancel
  position: relative
.checkbox, .cancelbox
  display: block
  width: 1.6rem
  height: 1.6rem
  border-radius: 0.3rem
  background-color: $color-white
  border: 0.1rem solid $color-data-border
  box-sizing: border-box
  position: relative
  svg
    position: absolute
    display: none
.checkbox svg
  width: 1.2rem
  height: 1rem
  top: 0.24rem
  left: 0.099rem
.cancelbox svg
  width: 1rem
  height: 1rem
  top: 0.2rem
  left: 0.19rem
.input-checkbox, .input-cancelbox
  position: absolute
  top: -0.1rem
  left: -0.3rem
  width: 1.6rem
  height: 1.6rem
  opacity: 0
  z-index: 2
  &:hover
    cursor: pointer

.trash
  width: 1.2rem
  height: 1.6rem
  transition: 0.1s
  &:hover
    cursor: pointer
    transform: scale(1.03)
  &:active
    transform: scale(1)
  svg
    width: 100%
    height: 100%
    path
      fill: $color-red
  &.inactive
    &:hover
      cursor: default
      transform: scale(1)
    svg path
      fill: $color-grey

// #checkbox-mainphone-payer-1:checked + .checkbox > svg
//   display: block
// #checkbox-mainphone-payer-2:checked + .checkbox > svg
//   display: block
// #checkbox-tenantphone-payer-1:checked + .checkbox > svg
//   display: block
// #checkbox-tenantphone-payer-2:checked + .checkbox > svg
//   display: block
// #checkbox-non-sms-1:checked + .checkbox > svg
//   display: block
// #cancelbox-mainphone-1:checked + .cancelbox > svg
//   display: block
// #cancelbox-tenantPhone-1:checked + .cancelbox > svg
//   display: block

.check, .cancel
  input:checked + label > svg
    display: block

.radio
  input:checked + label:after
    display: block

