@font-face {
  font-family: 'Roboto-Bold';
  src: url("../../assets/fonts/Roboto/Roboto-Bold.otf") format("opentype");
  src: url("../../assets/fonts/Roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype");
  src: url("../../assets/fonts/Roboto/Roboto-Bold.woff") format("woff");
  src: url("../../assets/fonts/Roboto/Roboto-Bold.woff2") format("woff2");
  src: url("../../assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Roboto-Light';
  src: url("../../assets/fonts/Roboto/Roboto-Light.otf") format("opentype");
  src: url("../../assets/fonts/Roboto/Roboto-Light.eot?#iefix") format("embedded-opentype");
  src: url("../../assets/fonts/Roboto/Roboto-Light.woff") format("woff");
  src: url("../../assets/fonts/Roboto/Roboto-Light.woff2") format("woff2");
  src: url("../../assets/fonts/Roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Roboto-Medium';
  src: url("../../assets/fonts/Roboto/Roboto-Medium.otf") format("opentype");
  src: url("../../assets/fonts/Roboto/Roboto-Medium.eot?#iefix") format("embedded-opentype");
  src: url("../../assets/fonts/Roboto/Roboto-Medium.woff") format("woff");
  src: url("../../assets/fonts/Roboto/Roboto-Medium.woff2") format("woff2");
  src: url("../../assets/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Roboto-Regular';
  src: url("../../assets/fonts/Roboto/Roboto-Regular.otf") format("opentype");
  src: url("../../assets/fonts/Roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype");
  src: url("../../assets/fonts/Roboto/Roboto-Regular.woff") format("woff");
  src: url("../../assets/fonts/Roboto/Roboto-Regular.woff2") format("woff2");
  src: url("../../assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

html {
  font-size: 10px; }

html, body {
  height: 100%;
  overflow: hidden; }

body {
  font-family: 'Roboto-Regular', sans-serif;
  background-color: #F6F7FB; }

.login {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  text-decoration: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }
  .login:active .login__image, .login:active .login__text {
    -webkit-transform: translateY(0.06rem);
       -moz-transform: translateY(0.06rem);
        -ms-transform: translateY(0.06rem);
         -o-transform: translateY(0.06rem);
            transform: translateY(0.06rem); }
  .login:focus {
    outline: none; }
  .login__image {
    width: 3.2rem;
    height: 3.6rem;
    margin: 0.1rem 0.8rem 0.1rem 0; }
    .login__image svg {
      width: 100%;
      height: 100%; }
  .login__title {
    font-family: 'Roboto-Medium', sans-serif;
    font-size: 2.4rem; }
  .login__subtitle {
    font-family: 'Roboto-Light', sans-serif;
    font-size: 1.3rem; }

.frameContent {
  width: 100%;
  height: 100%; }

.dark-button {
  background-color: #0F1A34;
  color: #ffffff;
  border: none; }
  .dark-button:hover {
    cursor: pointer; }
  .dark-button:focus {
    outline: none; }

.controls-arrow {
  width: 1.5rem; }
  .controls-arrow svg {
    stroke: #000000;
    width: 100%;
    height: auto; }

#absences-icon {
  height: 2.5rem; }
  #absences-icon img {
    height: 100%; }

.button {
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  -moz-transition: 0.1s;
  transition: 0.1s; }
  .button img, .button svg {
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    -moz-transition: 0.1s;
    transition: 0.1s; }
  .button:hover {
    cursor: pointer; }
    .button:hover img, .button:hover svg {
      -webkit-transform: scale(1.04);
         -moz-transform: scale(1.04);
          -ms-transform: scale(1.04);
           -o-transform: scale(1.04);
              transform: scale(1.04); }
  .button:focus {
    outline: none; }
  .button:active img, .button:active svg {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1); }

@media (max-width: 980px) {
  .button:hover {
    cursor: default; }
    .button:hover img, .button:hover svg {
      -webkit-transform: scale(1);
         -moz-transform: scale(1);
          -ms-transform: scale(1);
           -o-transform: scale(1);
              transform: scale(1); } }

.header {
  background-color: #0F1A34;
  height: 6rem;
  color: #ffffff;
  padding-top: env(safe-area-inset-top);
  position: relative;
  /* Account Page */ }
  .header:after {
    position: absolute;
    content: '';
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.1rem;
    background-color: #CBDAF0; }
  .header__loginPage {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__account {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 0 0 2rem; }
    .header__account-login {
      width: 26rem; }
    .header__account-navigate {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
         -moz-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
         -moz-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      padding: 0 5rem;
      background-color: #ffffff;
      color: #0F1A34;
      height: 100%;
      /* Notices */
      /* Support */ }
      .header__account-navigate_burger {
        display: block;
        width: 3.5rem;
        height: 2.4rem;
        position: relative;
        padding-right: 1.5rem;
        margin-right: 3rem;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none; }
        .header__account-navigate_burger.mobile {
          display: none; }
        .header__account-navigate_burger:before, .header__account-navigate_burger:after {
          position: absolute;
          content: '';
          top: 50%;
          -webkit-transform: translateY(-50%);
             -moz-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
               -o-transform: translateY(-50%);
                  transform: translateY(-50%); }
        .header__account-navigate_burger:after {
          display: block;
          border: 0.6rem solid transparent;
          border-left: 0.8rem solid #6093DE;
          right: -0.5rem; }
        .header__account-navigate_burger:before {
          display: none; }
        .header__account-navigate_burger.active {
          padding-right: 0;
          padding-left: 1.5rem; }
          .header__account-navigate_burger.active:before {
            display: block;
            border: 0.6rem solid transparent;
            border-right: 0.8rem solid #6093DE;
            left: -0.5rem; }
          .header__account-navigate_burger.active:after {
            display: none; }
      .header__account-navigate_popup, .header__account-navigate_popup-list {
        background-color: #ffffff; }
      .header__account-navigate_popup {
        position: absolute;
        opacity: 0;
        pointer-events: none;
        bottom: -245%;
        right: 4rem;
        font-size: 1.6rem;
        z-index: 10;
        -webkit-transition: 0.1s;
        -o-transition: 0.1s;
        -moz-transition: 0.1s;
        transition: 0.1s;
        border: 0.1rem solid #8E8E93;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
        -webkit-box-shadow: 0.4rem 0.4rem 0.6rem rgba(0, 0, 0, 0.28);
           -moz-box-shadow: 0.4rem 0.4rem 0.6rem rgba(0, 0, 0, 0.28);
                box-shadow: 0.4rem 0.4rem 0.6rem rgba(0, 0, 0, 0.28); }
        .header__account-navigate_popup-beeper {
          position: relative; }
          .header__account-navigate_popup-beeper_fill {
            border-top: 0.1rem solid #8E8E93;
            border-left: 0.1rem solid #8E8E93;
            width: 1rem;
            height: 1rem;
            position: absolute;
            display: block;
            -webkit-transform: rotate(45deg);
               -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                 -o-transform: rotate(45deg);
                    transform: rotate(45deg);
            top: -0.7rem;
            right: 3.6rem; }
            .header__account-navigate_popup-beeper_fill:before {
              display: block;
              position: absolute;
              content: '';
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 0.6rem;
              border-color: #ffffff transparent transparent #ffffff; }
        .header__account-navigate_popup.visible {
          -webkit-transition: 0.1s;
          -o-transition: 0.1s;
          -moz-transition: 0.1s;
          transition: 0.1s;
          opacity: 1;
          pointer-events: auto; }
        .header__account-navigate_popup-name {
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-box;
          display: -ms-flexbox;
          display: flex;
          padding: 1.2rem 0.8rem 0.75rem;
          border-bottom: 0.1rem solid #8E8E93; }
          .header__account-navigate_popup-name p {
            display: block;
            font-size: 1.8rem;
            font-family: 'Roboto-Medium', sans-serif;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            padding: 0.1rem; }
            .header__account-navigate_popup-name p span {
              display: block;
              max-width: 14.2rem;
              white-space: nowrap;
              overflow: hidden;
              -o-text-overflow: ellipsis;
                 text-overflow: ellipsis; }
        .header__account-navigate_popup-item, .header__account-navigate_popup-subitem {
          padding: 1rem 1.2rem;
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
             -moz-box-align: center;
              -ms-flex-align: center;
                  align-items: center; }
          .header__account-navigate_popup-item span, .header__account-navigate_popup-subitem span {
            -moz-user-select: none;
            -webkit-user-select: none;
                -ms-user-select: none;
                    user-select: none; }
          .header__account-navigate_popup-item:hover, .header__account-navigate_popup-subitem:hover {
            cursor: pointer;
            background-color: rgba(231, 233, 236, 0.2); }
        .header__account-navigate_popup-list {
          width: 0;
          visibility: hidden;
          position: absolute;
          top: 4rem;
          right: 101%;
          -webkit-box-shadow: 0.4rem 0.4rem 0.6rem rgba(0, 0, 0, 0.14);
             -moz-box-shadow: 0.4rem 0.4rem 0.6rem rgba(0, 0, 0, 0.14);
                  box-shadow: 0.4rem 0.4rem 0.6rem rgba(0, 0, 0, 0.14);
          pointer-events: none; }
          .header__account-navigate_popup-list.visible {
            -webkit-transition: 0.1s;
            -o-transition: 0.1s;
            -moz-transition: 0.1s;
            transition: 0.1s;
            width: auto;
            visibility: visible;
            pointer-events: auto; }
        .header__account-navigate_popup-icon {
          width: 3.2rem !important;
          height: 3.2rem !important;
          margin-right: 1.6rem;
          -webkit-background-size: 2.3rem 2.3rem !important;
             -moz-background-size: 2.3rem !important;
                  background-size: 2.3rem !important;
          background-position: 0.6rem !important; }
          .header__account-navigate_popup-icon img {
            -moz-user-select: none;
            -webkit-user-select: none;
                -ms-user-select: none;
                    user-select: none; }
        .header__account-navigate_popup-subitem span {
          max-width: 16rem;
          -o-text-overflow: ellipsis;
             text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap; }
        .header__account-navigate_popup-subitem.selected {
          position: relative;
          background-color: #E7E9EC; }
          .header__account-navigate_popup-subitem.selected:before {
            position: absolute;
            content: '';
            background-color: #6093DE;
            height: 100%;
            width: 0.5rem;
            top: 0;
            left: 0; }
      .header__account-navigate_notices {
        opacity: 0;
        pointer-events: none;
        position: absolute;
        top: 6.1rem;
        right: 11rem;
        background-color: #ffffff;
        z-index: 6;
        width: 26rem;
        font-size: 1.2rem;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
        border: 0.1rem solid #8E8E93;
        -webkit-box-shadow: 0.4rem 0.4rem 0.6rem rgba(0, 0, 0, 0.28);
           -moz-box-shadow: 0.4rem 0.4rem 0.6rem rgba(0, 0, 0, 0.28);
                box-shadow: 0.4rem 0.4rem 0.6rem rgba(0, 0, 0, 0.28); }
        .header__account-navigate_notices.visible {
          -webkit-transition-duration: 0.1s;
             -moz-transition-duration: 0.1s;
               -o-transition-duration: 0.1s;
                  transition-duration: 0.1s;
          -webkit-transition-property: opacity;
          -o-transition-property: opacity;
          -moz-transition-property: opacity;
          transition-property: opacity;
          opacity: 1;
          pointer-events: auto; }
        .header__account-navigate_notices-beeper {
          position: relative; }
          .header__account-navigate_notices-beeper_fill {
            border-top: 0.1rem solid #8E8E93;
            border-left: 0.1rem solid #8E8E93;
            width: 1rem;
            height: 1rem;
            position: absolute;
            display: block;
            -webkit-transform: rotate(45deg);
               -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                 -o-transform: rotate(45deg);
                    transform: rotate(45deg);
            top: -0.7rem;
            right: 2rem; }
            .header__account-navigate_notices-beeper_fill:before {
              display: block;
              position: absolute;
              content: '';
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 0.6rem;
              border-color: #ffffff transparent transparent #ffffff; }
        .header__account-navigate_notices-header {
          padding: 1rem;
          border-bottom: 0.1rem solid #8E8E93;
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
             -moz-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
             -moz-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          -webkit-user-select: none;
             -moz-user-select: none;
              -ms-user-select: none;
                  user-select: none; }
        .header__account-navigate_notices-title {
          font-family: 'Roboto-Medium', sans-serif;
          font-size: 1.4rem; }
        .header__account-navigate_notices-readAll {
          color: #6093DE; }
          .header__account-navigate_notices-readAll:hover {
            cursor: pointer;
            text-decoration: underline; }
        .header__account-navigate_notices-block {
          max-height: 38rem;
          overflow: hidden;
          overflow-y: scroll;
          scrollbar-base-color: transparent; }
          .header__account-navigate_notices-block::-webkit-scrollbar {
            width: 0.8rem; }
          .header__account-navigate_notices-block::-webkit-scrollbar-thumb {
            -webkit-border-radius: 0.4rem;
                    border-radius: 0.4rem;
            background-color: rgba(142, 142, 147, 0.7); }
          .header__account-navigate_notices-block::-webkit-scrollbar-track-piece {
            background: transparent; }
        .header__account-navigate_notices-item {
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
             -moz-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          padding: 1rem;
          -webkit-box-sizing: border-box;
             -moz-box-sizing: border-box;
                  box-sizing: border-box; }
          .header__account-navigate_notices-item.selected {
            background-color: #E7E9EC; }
          .header__account-navigate_notices-item:not(:last-child) {
            border-bottom: 0.1rem solid #8E8E93; }
        .header__account-navigate_notices-img {
          margin-right: 1rem;
          width: 4rem;
          -webkit-user-select: none;
             -moz-user-select: none;
              -ms-user-select: none;
                  user-select: none; }
          .header__account-navigate_notices-img img {
            width: 100%; }
        .header__account-navigate_notices-date {
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
             -moz-box-align: center;
              -ms-flex-align: center;
                  align-items: center; }
        .header__account-navigate_notices-pretitle {
          width: -webkit-calc(100% - 70px);
          width: -moz-calc(100% - 70px);
          width: calc(100% - 70px); }
        .header__account-navigate_notices-text {
          margin-bottom: 0.7rem;
          display: inline-block;
          max-width: 100%;
          white-space: nowrap;
          overflow: hidden;
          -o-text-overflow: ellipsis;
             text-overflow: ellipsis; }
        .header__account-navigate_notices-type {
          width: 1.3rem;
          margin-right: 0.5rem;
          -webkit-user-select: none;
             -moz-user-select: none;
              -ms-user-select: none;
                  user-select: none; }
          .header__account-navigate_notices-type img {
            width: 100%; }
      .header__account-navigate_support {
        position: absolute;
        opacity: 0;
        pointer-events: none;
        background-color: #ffffff;
        font-size: 1.4rem;
        z-index: 6;
        top: 6.1rem;
        right: 15rem;
        width: 22rem;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
        border: 0.1rem solid #8E8E93;
        -webkit-box-shadow: 0.4rem 0.4rem 0.6rem rgba(0, 0, 0, 0.28);
           -moz-box-shadow: 0.4rem 0.4rem 0.6rem rgba(0, 0, 0, 0.28);
                box-shadow: 0.4rem 0.4rem 0.6rem rgba(0, 0, 0, 0.28);
        /* Tickets support-item */ }
        .header__account-navigate_support-beeper {
          position: relative; }
          .header__account-navigate_support-beeper_fill {
            border-top: 0.1rem solid #8E8E93;
            border-left: 0.1rem solid #8E8E93;
            width: 1rem;
            height: 1rem;
            position: absolute;
            display: block;
            -webkit-transform: rotate(45deg);
               -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                 -o-transform: rotate(45deg);
                    transform: rotate(45deg);
            top: -0.7rem;
            right: 2.1rem; }
            .header__account-navigate_support-beeper_fill:before {
              display: block;
              position: absolute;
              content: '';
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 0.6rem;
              border-color: #ffffff transparent transparent #ffffff; }
        .header__account-navigate_support.visible {
          opacity: 1;
          -webkit-transition: 0.1s;
          -o-transition: 0.1s;
          -moz-transition: 0.1s;
          transition: 0.1s;
          pointer-events: auto; }
        .header__account-navigate_support-item {
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
             -moz-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          padding: 1rem;
          -webkit-box-sizing: border-box;
             -moz-box-sizing: border-box;
                  box-sizing: border-box; }
          .header__account-navigate_support-item.selected {
            background-color: #E7E9EC; }
          .header__account-navigate_support-item:not(:last-child) {
            border-bottom: 0.1rem solid #8E8E93; }
        .header__account-navigate_support-header {
          padding: 1rem;
          border-bottom: 0.1rem solid #8E8E93;
          -webkit-user-select: none;
             -moz-user-select: none;
              -ms-user-select: none;
                  user-select: none; }
        .header__account-navigate_support-title {
          font-family: 'Roboto-Medium', sans-serif;
          font-size: 1.4rem; }
        .header__account-navigate_support-text:hover {
          text-decoration: underline;
          cursor: pointer; }
        .header__account-navigate_support-tickets .attention-tickets {
          display: none; }
          .header__account-navigate_support-tickets .attention-tickets.active {
            display: block;
            position: relative; }
            .header__account-navigate_support-tickets .attention-tickets.active:after {
              position: absolute;
              display: block;
              content: '!';
              z-index: 10;
              font-family: 'Roboto-Medium', sans-serif;
              color: #ffffff;
              text-align: center;
              font-size: 1.4rem;
              padding: 0.1rem 0 0;
              width: 1.6rem;
              height: 1.5rem;
              -webkit-border-radius: 0.8rem;
                 -moz-border-radius: 0.8rem;
                      border-radius: 0.8rem;
              background-color: red;
              top: -0.8rem;
              bottom: auto;
              left: 8rem;
              right: auto; }
      .header__account-navigate_leftBlock, .header__account-navigate_rightBlock {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        height: 100%;
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
      .header__account-navigate_leftBlock {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
           -moz-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1; }
      .header__account-navigate_rightBlock {
        position: relative; }
      .header__account-navigate_search {
        display: block;
        width: 2.4rem; }
        .header__account-navigate_search-form {
          position: relative; }
        .header__account-navigate_search-input {
          display: inline-block;
          width: 0;
          visibility: hidden;
          margin: 0 0.5rem 0 1rem;
          padding: 0 4.8rem 0 1.2rem;
          font-size: 1.8rem;
          -webkit-box-sizing: border-box;
             -moz-box-sizing: border-box;
                  box-sizing: border-box;
          height: 3rem;
          -webkit-border-radius: 1.5rem;
             -moz-border-radius: 1.5rem;
                  border-radius: 1.5rem;
          border: 0.1rem solid #000000;
          -webkit-transition: 0.2s;
          -o-transition: 0.2s;
          -moz-transition: 0.2s;
          transition: 0.2s;
          pointer-events: none; }
          .header__account-navigate_search-input:focus {
            outline: none; }
          .header__account-navigate_search-input.active {
            width: 29rem;
            visibility: visible;
            pointer-events: auto; }
        .header__account-navigate_search-submit {
          background-color: #2a416e;
          color: #ffffff;
          border: none;
          font-size: 1.4rem;
          -webkit-border-radius: 0.5rem;
             -moz-border-radius: 0.5rem;
                  border-radius: 0.5rem;
          width: 4rem;
          height: 3rem;
          -webkit-border-top-right-radius: 1.5rem;
             -moz-border-radius-topright: 1.5rem;
                  border-top-right-radius: 1.5rem;
          -webkit-border-top-left-radius: 0;
             -moz-border-radius-topleft: 0;
                  border-top-left-radius: 0;
          -webkit-border-bottom-right-radius: 1.5rem;
             -moz-border-radius-bottomright: 1.5rem;
                  border-bottom-right-radius: 1.5rem;
          -webkit-border-bottom-left-radius: 0;
             -moz-border-radius-bottomleft: 0;
                  border-bottom-left-radius: 0;
          -webkit-transition: 0.1s;
          -o-transition: 0.1s;
          -moz-transition: 0.1s;
          transition: 0.1s;
          opacity: 0;
          pointer-events: none;
          transition: 0.1s;
          position: absolute;
          left: 26rem;
          background-image: url("../../assets/images/search-2_icon.svg");
          background-repeat: no-repeat;
          -webkit-background-size: 1.8rem 1.8rem;
             -moz-background-size: 1.8rem;
                  background-size: 1.8rem;
          background-position: center; }
          .header__account-navigate_search-submit::ms-clear {
            display: block; }
          .header__account-navigate_search-submit:hover {
            cursor: pointer; }
          .header__account-navigate_search-submit:active {
            -webkit-background-size: 1.9rem 1.9rem;
               -moz-background-size: 1.9rem;
                    background-size: 1.9rem; }
          .header__account-navigate_search-submit:focus {
            outline: none; }
          .header__account-navigate_search-submit.active {
            -webkit-transition: 0.1s;
            -o-transition: 0.1s;
            -moz-transition: 0.1s;
            transition: 0.1s;
            opacity: 1;
            pointer-events: auto; }
      .header__account-navigate_indicator {
        padding: 0 1.1rem; }
        .header__account-navigate_indicator-mobile {
          display: none; }
      .header__account-navigate_marker {
        height: 100%;
        padding: 0 2rem;
        border-right: 0.02rem solid rgba(0, 0, 0, 0.3); }
        .header__account-navigate_marker:first-child {
          border-left: 0.02rem solid rgba(0, 0, 0, 0.3); }
        .header__account-navigate_marker:nth-child(3) {
          margin-right: 1rem; }
        .header__account-navigate_marker img {
          margin-top: 1.6rem; }
        .header__account-navigate_marker.active {
          background-color: rgba(142, 142, 147, 0.15);
          position: relative; }
          .header__account-navigate_marker.active:after {
            position: absolute;
            content: '';
            display: block;
            width: 100%;
            height: 0.4rem;
            background-color: #0F1A34;
            bottom: 0;
            left: 0;
            z-index: 1; }
          .header__account-navigate_marker.active:hover img {
            -webkit-transform: scale(1);
               -moz-transform: scale(1);
                -ms-transform: scale(1);
                 -o-transform: scale(1);
                    transform: scale(1); }
      .header__account-navigate_main {
        width: 2.3rem; }
      .header__account-navigate_messages {
        width: 3.5rem; }
      .header__account-navigate_settings {
        width: 2.3rem; }
      .header__account-navigate_question {
        width: 1.8rem; }
        .header__account-navigate_question.active svg .cls-1 {
          fill: #6093DE; }
        .header__account-navigate_question-attention {
          display: none; }
          .header__account-navigate_question-attention.active {
            display: block;
            position: relative; }
            .header__account-navigate_question-attention.active:after {
              position: absolute;
              display: block;
              content: '!';
              z-index: 10;
              font-family: 'Roboto-Medium', sans-serif;
              color: #ffffff;
              text-align: center;
              font-size: 1.4rem;
              padding: 0.1rem 0 0;
              width: 1.6rem;
              height: 1.5rem;
              -webkit-border-radius: 0.8rem;
                 -moz-border-radius: 0.8rem;
                      border-radius: 0.8rem;
              background-color: red;
              top: -0.3rem;
              bottom: auto;
              left: auto;
              right: -0.9rem; }
          .header__account-navigate_question-attention_mobile {
            display: none; }
      .header__account-navigate_bell {
        width: 2.1rem; }
        .header__account-navigate_bell.active svg .cls-1 {
          fill: #6093DE; }
        .header__account-navigate_bell-attention {
          display: none; }
          .header__account-navigate_bell-attention.active {
            display: block;
            position: relative; }
            .header__account-navigate_bell-attention.active:after {
              position: absolute;
              display: block;
              content: '!';
              z-index: 10;
              font-family: 'Roboto-Medium', sans-serif;
              color: #ffffff;
              text-align: center;
              font-size: 1.4rem;
              padding: 0.1rem 0 0;
              width: 1.6rem;
              height: 1.5rem;
              -webkit-border-radius: 0.8rem;
                 -moz-border-radius: 0.8rem;
                      border-radius: 0.8rem;
              background-color: red;
              top: -0.3rem;
              bottom: auto;
              left: auto;
              right: -0.6rem; }
          .header__account-navigate_bell-attention_mobile {
            display: none; }
      .header__account-navigate_profile {
        display: block;
        padding: 0;
        margin: 0 1rem;
        width: 4.2rem;
        height: 4.2rem;
        -webkit-border-radius: 2.1rem;
           -moz-border-radius: 2.1rem;
                border-radius: 2.1rem;
        background-color: rgba(142, 142, 147, 0.3);
        background-image: url("../../assets/images/profile_icon.svg");
        background-repeat: no-repeat;
        -webkit-background-size: cover;
           -moz-background-size: cover;
                background-size: cover;
        overflow: hidden;
        outline: none;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none; }
        .header__account-navigate_profile img {
          height: 100%;
          -webkit-user-select: none;
             -moz-user-select: none;
              -ms-user-select: none;
                  user-select: none;
          outline: none; }
      .header__account-navigate_phonecall {
        width: 3rem;
        margin-bottom: 0.5rem; }
        .header__account-navigate_phonecall svg .cls-2 {
          fill: none;
          stroke: red;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-width: 2px; }
        .header__account-navigate_phonecall.active svg .cls-1 {
          fill: #6093DE; }

@media (max-width: 1420px) {
  .header__account-login {
    width: 20rem; }
  .header__account-navigate {
    padding: 0 2.2rem; } }

@media (max-width: 1120px) {
  .header__account {
    height: auto;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0; }
    .header__account-login {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      margin: 1.1rem 0; }
    .header__account-navigate {
      padding: 0;
      height: 6rem;
      width: 100%; }
      .header__account-navigate_leftBlock {
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
           -moz-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        margin-left: 1rem; }
      .header__account-navigate_question, .header__account-navigate_bell, .header__account-navigate_phonecall {
        display: none; }
      .header__account-navigate_profile-attention.active {
        display: block;
        position: relative; }
        .header__account-navigate_profile-attention.active:after {
          position: absolute;
          display: block;
          content: '!';
          z-index: 10;
          font-family: 'Roboto-Medium', sans-serif;
          color: #ffffff;
          text-align: center;
          font-size: 1.4rem;
          padding: 0.1rem 0 0;
          width: 1.6rem;
          height: 1.5rem;
          -webkit-border-radius: 0.8rem;
             -moz-border-radius: 0.8rem;
                  border-radius: 0.8rem;
          background-color: red;
          top: -0.5rem;
          bottom: auto;
          left: 2.6rem;
          right: auto; }
      .header__account-navigate_bell-attention.active {
        display: block;
        position: relative; }
        .header__account-navigate_bell-attention.active:after {
          position: absolute;
          display: none;
          content: '!';
          z-index: 10;
          font-family: 'Roboto-Medium', sans-serif;
          color: #ffffff;
          text-align: center;
          font-size: 1.4rem;
          padding: 0.1rem 0 0;
          width: 1.6rem;
          height: 1.5rem;
          -webkit-border-radius: 0.8rem;
             -moz-border-radius: 0.8rem;
                  border-radius: 0.8rem;
          background-color: red;
          top: -0.3rem;
          bottom: auto;
          left: auto;
          right: -0.6rem; }
      .header__account-navigate_bell-attention_mobile.active {
        display: block;
        position: relative; }
        .header__account-navigate_bell-attention_mobile.active:after {
          position: absolute;
          display: block;
          content: '!';
          z-index: 10;
          font-family: 'Roboto-Medium', sans-serif;
          color: #ffffff;
          text-align: center;
          font-size: 1.4rem;
          padding: 0.1rem 0 0;
          width: 1.6rem;
          height: 1.5rem;
          -webkit-border-radius: 0.8rem;
             -moz-border-radius: 0.8rem;
                  border-radius: 0.8rem;
          background-color: red;
          top: auto;
          bottom: 0.2rem;
          left: 2rem;
          right: right; }
      .header__account-navigate_bell_mobile {
        display: none; }
      .header__account-navigate_question-attention.active {
        display: block;
        position: relative; }
        .header__account-navigate_question-attention.active:after {
          position: absolute;
          display: none;
          content: '!';
          z-index: 10;
          font-family: 'Roboto-Medium', sans-serif;
          color: #ffffff;
          text-align: center;
          font-size: 1.4rem;
          padding: 0.1rem 0 0;
          width: 1.6rem;
          height: 1.5rem;
          -webkit-border-radius: 0.8rem;
             -moz-border-radius: 0.8rem;
                  border-radius: 0.8rem;
          background-color: red;
          top: -0.3rem;
          bottom: auto;
          left: auto;
          right: -0.9rem; }
      .header__account-navigate_question-attention_mobile.active {
        display: block;
        position: relative; }
        .header__account-navigate_question-attention_mobile.active:after {
          position: absolute;
          display: block;
          content: '!';
          z-index: 10;
          font-family: 'Roboto-Medium', sans-serif;
          color: #ffffff;
          text-align: center;
          font-size: 1.4rem;
          padding: 0.1rem 0 0;
          width: 1.6rem;
          height: 1.5rem;
          -webkit-border-radius: 0.8rem;
             -moz-border-radius: 0.8rem;
                  border-radius: 0.8rem;
          background-color: red;
          top: auto;
          bottom: 0.2rem;
          left: 2rem;
          right: auto; }
      .header__account-navigate_popup {
        bottom: -505%;
        right: 0.5rem; }
        .header__account-navigate_popup-item:hover, .header__account-navigate_popup-subitem:hover {
          background-color: none; }
        .header__account-navigate_popup-beeper_fill {
          right: 1.8rem; }
        .header__account-navigate_popup.visible {
          -webkit-transition: 0;
          -o-transition: 0;
          -moz-transition: 0;
          transition: 0; }
      .header__account-navigate_notices {
        z-index: 11;
        right: 19.6rem; }
        .header__account-navigate_notices-beeper_fill {
          top: 21.7rem;
          right: -0.7rem;
          -webkit-transform: rotate(135deg);
             -moz-transform: rotate(135deg);
              -ms-transform: rotate(135deg);
               -o-transform: rotate(135deg);
                  transform: rotate(135deg); }
      .header__account-navigate_support {
        width: 20rem;
        z-index: 11;
        top: 12rem;
        right: 19.6rem; }
        .header__account-navigate_support-beeper_fill {
          top: 10.5rem;
          right: -0.7rem;
          -webkit-transform: rotate(135deg);
             -moz-transform: rotate(135deg);
              -ms-transform: rotate(135deg);
               -o-transform: rotate(135deg);
                  transform: rotate(135deg); }
      .header__account-navigate_indicator-mobile {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex; }
        .header__account-navigate_indicator-mobile.selected {
          background-color: #E7E9EC; }
        .header__account-navigate_indicator-mobile div img {
          height: 100%;
          padding: 0; } }

@media (max-width: 720px) {
  .header.height {
    height: 100% !important; }
  .header__account {
    height: 6rem; }
    .header__account-login {
      margin: 0;
      position: absolute;
      height: 6rem; }
    .header__account.mobile-visible {
      -webkit-transition: 0;
      -o-transition: 0;
      -moz-transition: 0;
      transition: 0;
      height: 11rem; }
      .header__account.mobile-visible .header__account-login {
        position: static; }
    .header__account-navigate {
      background: none; }
      .header__account-navigate.mobile-visible {
        background: #ffffff;
        height: 4rem; }
      .header__account-navigate_burger {
        display: none; }
        .header__account-navigate_burger.mobile {
          display: block;
          top: 1.6rem;
          position: absolute;
          margin-right: 0; }
          .header__account-navigate_burger.mobile.active {
            margin-right: 1.5rem;
            margin-left: 0;
            padding-left: 0; }
          .header__account-navigate_burger.mobile:before, .header__account-navigate_burger.mobile:after {
            display: none; }
      .header__account-navigate_marker.mobile-visible {
        padding: 0 1.7rem; }
        .header__account-navigate_marker.mobile-visible img {
          height: 56%;
          width: 100%;
          margin-top: 1rem; }
      .header__account-navigate_marker.active:after {
        background-color: #6093DE; }
      .header__account-navigate_popup {
        top: 6.2rem;
        bottom: auto; }
        .header__account-navigate_popup-beeper_fill {
          right: 1.6rem; }
        .header__account-navigate_popup.mobile-mini {
          display: none; }
      .header__account-navigate_leftBlock, .header__account-navigate_rightBlock {
        position: static; }
      .header__account-navigate_profile {
        position: absolute;
        top: 1.1rem;
        right: 0;
        width: 3.2rem;
        height: 3.2rem;
        -webkit-border-radius: 1.6rem;
           -moz-border-radius: 1.6rem;
                border-radius: 1.6rem;
        background-color: #8E8E93;
        border: 0.1rem solid #8E8E93; }
        .header__account-navigate_profile-attention.active {
          display: block;
          position: relative; }
          .header__account-navigate_profile-attention.active:after {
            position: absolute;
            display: block;
            content: '!';
            z-index: 10;
            font-family: 'Roboto-Medium', sans-serif;
            color: #ffffff;
            text-align: center;
            font-size: 1.4rem;
            padding: 0.1rem 0 0;
            width: 1.6rem;
            height: 1.5rem;
            -webkit-border-radius: 0.8rem;
               -moz-border-radius: 0.8rem;
                    border-radius: 0.8rem;
            background-color: red;
            top: -0.5rem;
            bottom: auto;
            left: 2.2rem;
            right: auto; }
      .header__account-navigate_marker:nth-child(3) {
        margin-right: 0; }
      .header__account-navigate_search, .header__account-navigate_search-form, .header__account-navigate_marker {
        display: none; }
      .header__account-navigate_search.mobile-visible, .header__account-navigate_search-form.mobile-visible, .header__account-navigate_marker.mobile-visible {
        display: block; }
      .header__account-navigate_notices {
        right: 0;
        width: 100%;
        top: 6rem;
        height: -webkit-calc(100% - 61px);
        height: -moz-calc(100% - 61px);
        height: calc(100% - 61px); }
        .header__account-navigate_notices-beeper {
          display: none; }
        .header__account-navigate_notices-block {
          max-height: 85%; }
      .header__account-navigate_support {
        top: 6rem;
        right: 0;
        width: 100%;
        height: -webkit-calc(100% - 61px);
        height: -moz-calc(100% - 61px);
        height: calc(100% - 61px); }
        .header__account-navigate_support-beeper {
          display: none; } }

@media (max-width: 560px) {
  .header__account-navigate_popup-subitem span {
    max-width: 11rem; }
  .header__account-navigate_search-form.mobile-mini {
    position: absolute;
    z-index: 2;
    padding: 1.1rem 0 0.9rem;
    top: 11rem;
    width: 100%;
    left: 0;
    background: #ffffff; }
    .header__account-navigate_search-form.mobile-mini input:first-child {
      width: 94%; }
    .header__account-navigate_search-form.mobile-mini input:last-child {
      left: auto;
      right: 0.8rem; } }

@media (max-width: 365px) {
  .header__account-navigate_popup-subitem span {
    max-width: 7.5rem; } }

@media (max-width: 346px) {
  .header__account-navigate_popup-subitem .section__accounts-link_image {
    margin-right: 1rem; }
  .header__account-navigate_popup-subitem span {
    font-size: 1.4rem;
    max-width: 5.6rem; } }

.section {
  /* SignIn Page */ }
  .section__login-page {
    display: block;
    width: 100%;
    height: 100%;
    position: relative; }
    .section__login-page:before {
      display: block;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-image: url("../../assets/images/login-page-background.jpg");
      -webkit-background-size: cover;
         -moz-background-size: cover;
              background-size: cover;
      opacity: 0.5;
      pointer-events: none;
      z-index: -1; }
  .section__login-block {
    padding: 3.5rem 0 4rem;
    display: block;
    background-color: #F6F7FB;
    width: 40rem;
    -webkit-border-radius: 1.5rem;
       -moz-border-radius: 1.5rem;
            border-radius: 1.5rem;
    -webkit-box-shadow: 0.6rem 0.4rem 0.6rem rgba(0, 0, 0, 0.28);
       -moz-box-shadow: 0.6rem 0.4rem 0.6rem rgba(0, 0, 0, 0.28);
            box-shadow: 0.6rem 0.4rem 0.6rem rgba(0, 0, 0, 0.28);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .section__login-form_type {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.2rem; }
  .section__login-form_label {
    display: block;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 1.6rem;
    text-align: right;
    width: 7.5rem;
    margin-right: 1.2rem; }
  .section__login-form_input {
    display: block;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Roboto-Light', sans-serif;
    width: 15rem;
    height: 2.4rem;
    left: 11.4rem;
    top: 0;
    background: #FFFFFF;
    border: 0.05rem solid rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    -webkit-border-radius: 1.2rem;
       -moz-border-radius: 1.2rem;
            border-radius: 1.2rem;
    padding: 0 0 0 0.7rem; }
    .section__login-form_input:focus {
      outline: none; }
  .section__login-form_error {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    font-family: 'Roboto-Light', sans-serif;
    color: red; }
  .section__login-form_link {
    margin: 0 auto 3.5rem;
    display: block;
    width: 9.5rem;
    font-family: 'Roboto-Light', sans-serif;
    font-size: 1.2rem; }
    .section__login-form_link a {
      color: #0F1A34; }
      .section__login-form_link a:active {
        color: red; }
      .section__login-form_link a:focus {
        outline: none; }
  .section__login-form_title {
    font-family: 'Roboto-Medium', sans-serif;
    font-size: 2.4rem;
    color: #6093DE;
    margin: 0 0 3rem;
    text-align: center; }
  .section__login-form_submit {
    font-size: 1.8rem;
    height: 4rem;
    -webkit-border-radius: 2rem;
       -moz-border-radius: 2rem;
            border-radius: 2rem;
    width: 13.5rem;
    display: block;
    margin: 0 auto;
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    -moz-transition: 0.1s;
    transition: 0.1s; }
    .section__login-form_submit:hover {
      cursor: pointer;
      -webkit-transform: scale(1.1);
         -moz-transform: scale(1.1);
          -ms-transform: scale(1.1);
           -o-transform: scale(1.1);
              transform: scale(1.1); }
    .section__login-form_submit:active {
      -webkit-transform: scale(1);
         -moz-transform: scale(1);
          -ms-transform: scale(1);
           -o-transform: scale(1);
              transform: scale(1); }

@media (max-width: 990px) {
  .section__login-form_submit:hover {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1); } }

@media (max-width: 420px) {
  .section__login-page {
    position: fixed;
    height: 21.4rem;
    top: 50%;
    -webkit-transform: translateY(-107px);
       -moz-transform: translateY(-107px);
        -ms-transform: translateY(-107px);
         -o-transform: translateY(-107px);
            transform: translateY(-107px); }
    .section__login-page:before {
      display: none; }
  .section__login-block {
    padding: 0;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    width: 100%;
    top: 0;
    left: 0;
    -webkit-transform: translate(0);
       -moz-transform: translate(0);
        -ms-transform: translate(0);
         -o-transform: translate(0);
            transform: translate(0); } }

.section {
  /* Selecting of Account Page */ }
  .section__accounts-block {
    background-color: #ffffff;
    padding: 4rem 0; }
  .section__accounts-content {
    background-color: #F6F7FB;
    max-height: 30rem;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
    overflow-x: hidden;
    overflow-y: scroll; }
    .section__accounts-content::-webkit-scrollbar {
      width: 0.8rem; }
    .section__accounts-content::-webkit-scrollbar-thumb {
      -webkit-border-radius: 0.4rem;
              border-radius: 0.4rem;
      background-color: rgba(142, 142, 147, 0.7); }
  .section__accounts-item {
    padding: 1.8rem 3rem;
    position: relative; }
    .section__accounts-item:not(:last-child) {
      border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1); }
    .section__accounts-item:hover {
      background-color: rgba(0, 0, 0, 0.1);
      cursor: pointer; }
    .section__accounts-item:active {
      -webkit-transform: translateY(0.05rem);
         -moz-transform: translateY(0.05rem);
          -ms-transform: translateY(0.05rem);
           -o-transform: translateY(0.05rem);
              transform: translateY(0.05rem); }
  .section__accounts-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 1.8rem;
    color: #000000;
    text-decoration: none; }
    .section__accounts-link:focus {
      outline: none; }
    .section__accounts-link_image {
      background-color: #8E8E93;
      background-image: url("../../assets/images/business-account_icon.svg");
      background-repeat: no-repeat;
      -webkit-background-size: 4rem 4rem;
         -moz-background-size: 4rem;
              background-size: 4rem;
      background-position: 1.35rem;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
         -moz-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 6.6rem;
      height: 6.6rem;
      -webkit-border-radius: 50%;
         -moz-border-radius: 50%;
              border-radius: 50%;
      overflow: hidden;
      margin-right: 1.6rem; }
      .section__accounts-link_image img {
        height: 100%; }
    .section__accounts-link_title {
      width: 69%;
      padding: 0.1rem 0;
      white-space: nowrap;
      overflow: hidden;
      -o-text-overflow: ellipsis;
         text-overflow: ellipsis; }
  .section__accounts-indicators {
    display: none;
    position: absolute;
    top: 2rem;
    right: 3rem; }
    .section__accounts-indicators.active {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex; }
  .section__accounts-indicator {
    height: 1.8rem;
    position: relative;
    display: block; }
    .section__accounts-indicator svg {
      width: auto;
      height: 100%; }
    .section__accounts-indicator_question {
      margin-left: 1.6rem; }
    .section__accounts-indicator_attention {
      position: absolute;
      top: -0.2rem;
      right: -0.6rem;
      display: none;
      width: 1.2rem;
      height: 1.2rem;
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
      padding: 0.08rem 0 0;
      background-color: #FF0000;
      -webkit-border-radius: 50%;
         -moz-border-radius: 50%;
              border-radius: 50%;
      color: #ffffff;
      text-align: center;
      font-family: 'Roboto-Medium', sans-serif;
      font-size: 1rem; }
      .section__accounts-indicator_attention.active {
        display: block; }
  .section__accounts-blocked {
    display: none;
    position: absolute;
    right: 3rem;
    bottom: 1.5rem;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    border-top: 0.1rem solid #FF0000;
    border-bottom: 0.1rem solid #FF0000; }
    .section__accounts-blocked p {
      font-family: 'Roboto-Medium', sans-serif;
      font-size: 1.3rem;
      color: #FF0000;
      padding: 0.3rem 0 0.2rem; }
    .section__accounts-blocked.active {
      display: block; }

@media (max-width: 1200px) {
  .section__accounts-item:hover {
    background: none;
    cursor: default; } }

@media (max-width: 990px) {
  .section__accounts-item:hover {
    background-color: none; } }

@media (max-width: 420px) {
  .section__accounts-page {
    height: 32rem !important;
    -webkit-transform: translateY(-16rem) !important;
       -moz-transform: translateY(-16rem) !important;
        -ms-transform: translateY(-16rem) !important;
         -o-transform: translateY(-16rem) !important;
            transform: translateY(-16rem) !important;
    position: absolute; }
  .section__accounts-block {
    padding: 3rem 0;
    max-height: 30rem; } }

.section {
  /* Recovery page */ }
  .section__recovery-form_type {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 2rem;
    margin-bottom: 3rem; }
  .section__recovery-form_label {
    text-align: center;
    width: auto;
    margin: 0 0 1rem; }
  .section__recovery-form_input {
    width: 85%; }

.section__email-sent_text {
  font-size: 1.8rem;
  max-width: 34.4rem;
  text-align: center;
  margin: 0 auto;
  line-height: 1.2; }

@media (max-width: 420px) {
  .section__email-sent_title {
    margin: 2rem 0 3rem; } }
