div.callList__table
  table
    tr
      th 
        div 
          p Source
          div.controls-arrow.callList__table-source_arrow
            <svg viewBox="0 0 12 6" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 1L6 5.28571L11 1" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
      th
        div 
          p Ads Group
          div.controls-arrow.callList__table-source_arrow.open
            <svg viewBox="0 0 12 6" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 1L6 5.28571L11 1" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
      th
        div 
          p Area
          div.controls-arrow.callList__table-source_arrow
            <svg viewBox="0 0 12 6" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 1L6 5.28571L11 1" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
      th
        div 
          p Total Calls
          div.controls-arrow.callList__table-source_arrow
            <svg viewBox="0 0 12 6" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 1L6 5.28571L11 1" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
      th
        div 
          p Completed
          div.controls-arrow.callList__table-source_arrow
            <svg viewBox="0 0 12 6" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 1L6 5.28571L11 1" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
      th
        div 
          p Unanswered
          div.controls-arrow.callList__table-source_arrow
            <svg viewBox="0 0 12 6" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 1L6 5.28571L11 1" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
      th
        div 
          p Avg Duration
          div.controls-arrow.callList__table-source_arrow
            <svg viewBox="0 0 12 6" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 1L6 5.28571L11 1" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
    tr
      td Tax_HOU_GA
      td Google Ads
      td Houston, TX
      td 58
      td 34
      td 24
      td 2:34
    tr
      td Tax_HOU_GA
      td Google Ads
      td Houston, TX
      td 58
      td 34
      td 24
      td 2:34
    tr
      td Tax_HOU_GA
      td Google Ads
      td Houston, TX
      td 58
      td 34
      td 24
      td 2:34
    tr
      td Tax_HOU_GA
      td Google Ads
      td Houston, TX
      td 58
      td 34
      td 24
      td 2:34
    tr
      td Tax_HOU_GA
      td Google Ads
      td Houston, TX
      td 58
      td 34
      td 24
      td 2:34
    tr
      td Tax_HOU_GA
      td Google Ads
      td Houston, TX
      td 58
      td 34
      td 24
      td 2:34


