div.frameContent.callList
  div.callList__top
    h2.callList__top-title General Call List
    // Top Item
    div.callList__top-item
      div.callList__top-item_data.callList__top-item_calls
        h3.callList__top-item_number 305
        p.callList__top-item_subtitle Calls
    // Top Item
    div.callList__top-item
      div.callList__top-item_data.callList__top-item_callers
        h3.callList__top-item_number 250
        p.callList__top-item_subtitle Callers
    // Top Item
    div.callList__top-item
      div.callList__top-item_data.callList__top-item_missed
        h3.callList__top-item_number 4
        p.callList__top-item_subtitle Missed Calls
    // Top Item
    div.callList__top-item
      div.callList__top-item_data.callList__top-item_active
        h3.callList__top-item_number 2
        p.callList__top-item_subtitle Active Calls
