div.section.section__login-page
  div.section__login-block
    h3.section__login-form_title.section__email-sent_title Please, check your Email!
    p.section__email-sent_text We’ve sent a link to change your password. Please check your inbox. It could take up 10 minutes to show up in your inbox.


