div.section.section__account-page
  div#menu-label.section__account-label.active
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.34 29.25"><defs><style>.cls-1{fill:#001331;}</style></defs><title>marker_icon_1</title><g id="Layer_2" data-name="Layer 2"><g id="Marker"><path class="cls-1" d="M1.79,29.25H0V0H6.53a3.81,3.81,0,0,1,3.81,3.81V19a3.81,3.81,0,0,1-.74,2.26L4.86,27.7A3.81,3.81,0,0,1,1.79,29.25Z"/></g></g></svg>
  include account-menu

  // iframe
  div.section__account_frame-block
    //- div.section__account_overframe.active
    iframe(src="0", id="1").section__account_frame

  // Software-phone
  include software-phone

  // Calling-flag to open the softphone
  div.section__account_callingFlag
    div.section__account_callingFlag-icon
      <svg viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M14.8883 12.0262C14.4077 11.6254 13.8426 11.3347 13.2337 11.1749C12.6248 11.0152 11.9875 10.9905 11.3677 11.1027C10.3544 11.1826 9.53344 12.5571 9.53344 12.5571C9.53344 12.5571 8.74944 12.4771 6.75986 11.0227C5.50666 9.99564 4.66309 8.56607 4.37828 6.98664C4.88022 6.2718 5.28781 5.49718 5.59126 4.68138C5.76626 3.89935 5.6449 3.0814 5.24997 2.38111C4.85504 1.68082 4.2137 1.14636 3.44636 0.87807C1.2275 -0.0818487 0.02192 1.08896 0.02192 1.08896C-0.0950562 3.25827 0.257119 5.42732 1.05521 7.453C1.8533 9.47868 3.07917 11.315 4.65194 12.8407C6.09184 14.3 7.88386 15.3773 9.86118 15.9723C11.8385 16.5674 13.9368 16.6609 15.9607 16.244C16.0131 15.6804 16.0131 15.1133 15.9607 14.5496C15.9403 13.6055 15.5571 12.7039 14.8883 12.0262Z" fill="white"/>
      </svg>

