div.section.section__login-page.section__accounts-page
  div.section__login-block.section__accounts-block
    div.section__accounts-content
      nav.section__accounts-navigate
        ul.section__accounts-list
          // Account item
          li.section__accounts-item
            a(href="#").section__accounts-link
              div.section__accounts-link_image
                img(src="assets/images/business-account_icon.svg", alt="Account").section__accounts-link_img.section__accounts-link_icon
                //- object(data="assets/images/business-account_icon.svg").section__accounts-link_img
              p.section__accounts-link_title Texas Appliance Repair

          // Account item
          li.section__accounts-item
            a(href="#").section__accounts-link
              div.section__accounts-link_image
                img(src="assets/images/business-account_icon.svg", alt="Account").section__accounts-link_img.section__accounts-link_icon
                //- object(data="assets/images/business-account_icon.svg").section__accounts-link_img
              p.section__accounts-link_title Texas Appliance Repair

          // Account item
          li.section__accounts-item
            a(href="#").section__accounts-link
              div.section__accounts-link_image
                img(src="assets/images/business-account_icon.svg", alt="Account").section__accounts-link_img.section__accounts-link_icon
                //- object(data="assets/images/business-account_icon.svg").section__accounts-link_img
              p.section__accounts-link_title Texas Appliance Repair

          // Account item
          li.section__accounts-item
            a(href="#").section__accounts-link
              div.section__accounts-link_image
                img(src="assets/images/business-account_icon.svg", alt="Account").section__accounts-link_img.section__accounts-link_icon
                //- object(data="assets/images/business-account_icon.svg").section__accounts-link_img
              p.section__accounts-link_title Texas Appliance Repair

