section.section.section__account-page
  div#menu-label.section__account-label.active
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.25 29.25"><defs><style>.cls-1{fill:#001331;}</style></defs><title>marker_icon</title><g id="Layer_2" data-name="Layer 2"><g id="Marker"><path class="cls-1" d="M7.87,29.25H1.5A1.5,1.5,0,0,1,0,27.75V1.5A1.5,1.5,0,0,1,1.5,0H13.75a1.5,1.5,0,0,1,1.5,1.5V19.76a1.5,1.5,0,0,1-.29.89l-5.88,8A1.5,1.5,0,0,1,7.87,29.25Z"/></g></g></svg>
  div.section__account-menu
    ul.section__account-menu_list
      // Menu Item
      li.section__account-menu_item.active
        div.section__account-menu_item-block
          div.section__account-menu_item-bg
          div.section__account-menu_item-image
            img(src="assets/images/dashboard_icon.svg", alt="Icon")
          h3.section__account-menu_item-title Dashboard

      // Menu Item
      li.section__account-menu_item
        div.section__account-menu_item-block
          div.section__account-menu_item-bg
          div.section__account-menu_item-image
            img(src="assets/images/schedule_icon.svg", alt="Icon")
          h3.section__account-menu_item-title Schedule

      // Menu Item
      li.section__account-menu_item
        div.section__account-menu_item-block
          div.section__account-menu_item-bg
          div.section__account-menu_item-image
            img(src="assets/images/booking_icon.svg", alt="Icon")
          h3.section__account-menu_item-title Booking

      // Menu Item
      li.section__account-menu_item
        div.section__account-menu_item-block
          div.section__account-menu_item-bg
          div.section__account-menu_item-image
            img(src="assets/images/voice_icon.svg", alt="Icon")
          h3.section__account-menu_item-title Calls

      // Menu Item
      li.section__account-menu_item
        div.section__account-menu_item-block
          div.section__account-menu_item-bg
          div.section__account-menu_item-image
            img(src="assets/images/sms_icon.svg", alt="Icon")
          h3.section__account-menu_item-title SMS

      // Menu Item
      li.section__account-menu_item
        div.section__account-menu_item-block
          div.section__account-menu_item-bg
          div.section__account-menu_item-image
            img(src="assets/images/clients_icon.svg", alt="Icon")
          h3.section__account-menu_item-title Clients

      // Menu Item
      li.section__account-menu_item
        div.section__account-menu_item-block
          div.section__account-menu_item-bg
          div.section__account-menu_item-image
            img(src="assets/images/appointments_icon.svg", alt="Icon")
          h3.section__account-menu_item-title Appointments

      // Menu Item
      li.section__account-menu_item
        div.section__account-menu_item-block
          div.section__account-menu_item-bg
          div.section__account-menu_item-image
            img(src="assets/images/jobs-2_icon.svg", alt="Icon")
          h3.section__account-menu_item-title Jobs

      // Menu Item
      li.section__account-menu_item
        div.section__account-menu_item-block
          div.section__account-menu_item-bg
          div.section__account-menu_item-image
            img(src="assets/images/estimates_icon.svg", alt="Icon")
          h3.section__account-menu_item-title Estimates

      // Menu Item
      li.section__account-menu_item
        div.section__account-menu_item-block
          div.section__account-menu_item-bg
          div.section__account-menu_item-image
            img(src="assets/images/invoice_icon.svg", alt="Icon")
          h3.section__account-menu_item-title Invoices

      // Menu Item
      li.section__account-menu_item
        div.section__account-menu_item-block
          div.section__account-menu_item-bg
          div.section__account-menu_item-image
            img(src="assets/images/payments_icon.svg", alt="Icon")
          h3.section__account-menu_item-title Payments

      // Menu Item
      li.section__account-menu_item
        div.section__account-menu_item-block
          div.section__account-menu_item-bg
          div.section__account-menu_item-image
            img(src="assets/images/absences_icon.svg", alt="Icon")
          h3.section__account-menu_item-title Absences

      // Menu Item
      li.section__account-menu_item
        div.section__account-menu_item-block
          div.section__account-menu_item-bg
          div.section__account-menu_item-image
            img(src="assets/images/tickets_icon.svg", alt="Icon")
          h3.section__account-menu_item-title Tickets


  // iframe
  iframe(src="0", id="1").section__account-frame