div.section.section__login-page.section__accounts-page
  div.section__login-block.section__accounts-block
    div.section__accounts-content
      nav.section__accounts-navigate
        ul.section__accounts-list

          // Account item
          li.section__accounts-item
            a(href="#").section__accounts-link
              div.section__accounts-link_image
                img(src="assets/images/house-sample.jpg", alt="").section__accounts-link_img
                //- object(data="assets/images/business-account_icon.svg").section__accounts-link_img
              p.section__accounts-link_title Texas Appliance Repair yyyyyyyyyyyyy
            div.section__accounts-indicators.active
              div.section__accounts-indicator.section__accounts-indicator_bell
                div.section__accounts-indicator_attention.active !
                //- img(src="assets/images/bell_icon.svg", alt="Bell")
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42.52 53.47">
                  <defs><style>.cls-1{fill:#001331;}</style></defs>
                  <title>bell_icon</title>
                  <g id="Layer_21" data-name="Layer 21">
                    <g id="Bell"><path class="cls-1" d="M13.37,47.56H29.14c0,2.66-3.53,5.91-7.89,5.91S13.37,50.23,13.37,47.56Z"/>
                    <path class="cls-1" d="M41.6,41.9h0A13.45,13.45,0,0,1,37.26,32V21.82A16,16,0,0,0,27.14,6.93V6a6,6,0,0,0-5.78-6,5.89,5.89,0,0,0-6,5.89v1A16,16,0,0,0,5.26,21.82V32A13.45,13.45,0,0,1,.92,41.89h0a2.46,2.46,0,0,0,1.54,4.37h37.6A2.46,2.46,0,0,0,41.6,41.9Z"/></g></g>
                </svg>
              div.section__accounts-indicator.section__accounts-indicator_question
                div.section__accounts-indicator_attention.active !
                //- img(src="assets/images/question_icon.svg", alt="FAQ")
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36.17 53.37">
                  <defs>
                    <style>.cls-1</style>
                  </defs>
                  <title>quetion_icon</title><g id="Layer_22" data-name="Layer 22">
                  <g id="Question"><path class="cls-1" d="M10.48,38.34q0-5,1.81-7.55A26.7,26.7,0,0,1,18.76,25a11.72,11.72,0,0,0,3.81-3.76A9.59,9.59,0,0,0,24,16a7,7,0,0,0-1.63-4.84,5.9,5.9,0,0,0-4.62-1.81,5.78,5.78,0,0,0-4,1.48A5.88,5.88,0,0,0,12,15.28H.07L0,15.07Q-.11,7.55,4.79,3.78T17.71,0q8.6,0,13.53,4.34T36.17,16a14.05,14.05,0,0,1-2.69,8.31,19.11,19.11,0,0,1-6.85,6,8.3,8.3,0,0,0-3.13,3.27,11.49,11.49,0,0,0-.81,4.75Zm12.18,15H10.52V43.61H22.66Z"/></g></g>
                </svg>
            div.section__accounts-blocked.active
              p Your account is temporally blocked

          // Account item
          li.section__accounts-item
            a(href="#").section__accounts-link
              div.section__accounts-link_image
                img(src="#", alt="").section__accounts-link_img
                //- object(data="assets/images/business-account_icon.svg").section__accounts-link_img
              p.section__accounts-link_title Texas Appliance Repair
            div.section__accounts-indicators.active
              div.section__accounts-indicator.section__accounts-indicator_bell
                div.section__accounts-indicator_attention.active !
                //- img(src="assets/images/bell_icon.svg", alt="Bell")
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42.52 53.47">
                  <defs><style>.cls-1{fill:#001331;}</style></defs>
                  <title>bell_icon</title>
                  <g id="Layer_21" data-name="Layer 21">
                    <g id="Bell"><path class="cls-1" d="M13.37,47.56H29.14c0,2.66-3.53,5.91-7.89,5.91S13.37,50.23,13.37,47.56Z"/>
                    <path class="cls-1" d="M41.6,41.9h0A13.45,13.45,0,0,1,37.26,32V21.82A16,16,0,0,0,27.14,6.93V6a6,6,0,0,0-5.78-6,5.89,5.89,0,0,0-6,5.89v1A16,16,0,0,0,5.26,21.82V32A13.45,13.45,0,0,1,.92,41.89h0a2.46,2.46,0,0,0,1.54,4.37h37.6A2.46,2.46,0,0,0,41.6,41.9Z"/></g></g>
                </svg>
              div.section__accounts-indicator.section__accounts-indicator_question
                div.section__accounts-indicator_attention.active !
                //- img(src="assets/images/question_icon.svg", alt="FAQ")
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36.17 53.37">
                  <defs>
                    <style>.cls-1</style>
                  </defs>
                  <title>quetion_icon</title><g id="Layer_22" data-name="Layer 22">
                  <g id="Question"><path class="cls-1" d="M10.48,38.34q0-5,1.81-7.55A26.7,26.7,0,0,1,18.76,25a11.72,11.72,0,0,0,3.81-3.76A9.59,9.59,0,0,0,24,16a7,7,0,0,0-1.63-4.84,5.9,5.9,0,0,0-4.62-1.81,5.78,5.78,0,0,0-4,1.48A5.88,5.88,0,0,0,12,15.28H.07L0,15.07Q-.11,7.55,4.79,3.78T17.71,0q8.6,0,13.53,4.34T36.17,16a14.05,14.05,0,0,1-2.69,8.31,19.11,19.11,0,0,1-6.85,6,8.3,8.3,0,0,0-3.13,3.27,11.49,11.49,0,0,0-.81,4.75Zm12.18,15H10.52V43.61H22.66Z"/></g></g>
                </svg>
            div.section__accounts-blocked
              p Your account is temporally blocked

          // Account item
          li.section__accounts-item
            a(href="#").section__accounts-link
              div.section__accounts-link_image
                img(src="#", alt="").section__accounts-link_img
                //- object(data="assets/images/business-account_icon.svg").section__accounts-link_img
              p.section__accounts-link_title Texas Appliance Repair
            div.section__accounts-indicators.active
              div.section__accounts-indicator.section__accounts-indicator_bell
                div.section__accounts-indicator_attention !
                //- img(src="assets/images/bell_icon.svg", alt="Bell")
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42.52 53.47">
                  <defs><style>.cls-1{fill:#001331;}</style></defs>
                  <title>bell_icon</title>
                  <g id="Layer_21" data-name="Layer 21">
                    <g id="Bell"><path class="cls-1" d="M13.37,47.56H29.14c0,2.66-3.53,5.91-7.89,5.91S13.37,50.23,13.37,47.56Z"/>
                    <path class="cls-1" d="M41.6,41.9h0A13.45,13.45,0,0,1,37.26,32V21.82A16,16,0,0,0,27.14,6.93V6a6,6,0,0,0-5.78-6,5.89,5.89,0,0,0-6,5.89v1A16,16,0,0,0,5.26,21.82V32A13.45,13.45,0,0,1,.92,41.89h0a2.46,2.46,0,0,0,1.54,4.37h37.6A2.46,2.46,0,0,0,41.6,41.9Z"/></g></g>
                </svg>
              div.section__accounts-indicator.section__accounts-indicator_question
                div.section__accounts-indicator_attention.active !
                //- img(src="assets/images/question_icon.svg", alt="FAQ")
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36.17 53.37">
                  <defs>
                    <style>.cls-1</style>
                  </defs>
                  <title>quetion_icon</title><g id="Layer_22" data-name="Layer 22">
                  <g id="Question"><path class="cls-1" d="M10.48,38.34q0-5,1.81-7.55A26.7,26.7,0,0,1,18.76,25a11.72,11.72,0,0,0,3.81-3.76A9.59,9.59,0,0,0,24,16a7,7,0,0,0-1.63-4.84,5.9,5.9,0,0,0-4.62-1.81,5.78,5.78,0,0,0-4,1.48A5.88,5.88,0,0,0,12,15.28H.07L0,15.07Q-.11,7.55,4.79,3.78T17.71,0q8.6,0,13.53,4.34T36.17,16a14.05,14.05,0,0,1-2.69,8.31,19.11,19.11,0,0,1-6.85,6,8.3,8.3,0,0,0-3.13,3.27,11.49,11.49,0,0,0-.81,4.75Zm12.18,15H10.52V43.61H22.66Z"/></g></g>
                </svg>
            div.section__accounts-blocked
              p Your account is temporally blocked


