section.section.section__account-page
  div.section__account-label
  div.section__account-menu
    ul.section__account-menu_list
      // Menu Item
      li.section__account-menu_item
        div.section__account-menu_item-block
          div.section__account-menu_item-image
            img(src="assets/images/dashboard_icon.svg", alt="Icon")
          h3.section__account-menu_item-title Dashboard

      // Menu Item
      li.section__account-menu_item
        div.section__account-menu_item-block
          div.section__account-menu_item-image
            img(src="assets/images/schedule_icon.svg", alt="Icon")
          h3.section__account-menu_item-title Schedule

      // Menu Item
      li.section__account-menu_item
        div.section__account-menu_item-block
          div.section__account-menu_item-image
            img(src="assets/images/booking_icon.svg", alt="Icon")
          h3.section__account-menu_item-title Booking

      // Menu Item
      li.section__account-menu_item
        div.section__account-menu_item-block
          div.section__account-menu_item-image
            img(src="assets/images/voice_icon.svg", alt="Icon")
          h3.section__account-menu_item-title Calls

      // Menu Item
      li.section__account-menu_item
        div.section__account-menu_item-block
          div.section__account-menu_item-image
            img(src="assets/images/sms_icon.svg", alt="Icon")
          h3.section__account-menu_item-title SMS

      // Menu Item
      li.section__account-menu_item
        div.section__account-menu_item-block
          div.section__account-menu_item-image
            img(src="assets/images/clients_icon.svg", alt="Icon")
          h3.section__account-menu_item-title Clients

      // Menu Item
      li.section__account-menu_item
        div.section__account-menu_item-block
          div.section__account-menu_item-image
            img(src="assets/images/appointments_icon.svg", alt="Icon")
          h3.section__account-menu_item-title Appointments

      // Menu Item
      li.section__account-menu_item
        div.section__account-menu_item-block
          div.section__account-menu_item-image
            img(src="assets/images/jobs-2_icon.svg", alt="Icon")
          h3.section__account-menu_item-title Jobs

      // Menu Item
      li.section__account-menu_item
        div.section__account-menu_item-block
          div.section__account-menu_item-image
            img(src="assets/images/estimates_icon.svg", alt="Icon")
          h3.section__account-menu_item-title Estimates

      // Menu Item
      li.section__account-menu_item
        div.section__account-menu_item-block
          div.section__account-menu_item-image
            img(src="assets/images/invoice_icon.svg", alt="Icon")
          h3.section__account-menu_item-title Invoices

      // Menu Item
      li.section__account-menu_item
        div.section__account-menu_item-block
          div.section__account-menu_item-image
            img(src="assets/images/payments_icon.svg", alt="Icon")
          h3.section__account-menu_item-title Payments

      // Menu Item
      li.section__account-menu_item
        div.section__account-menu_item-block
          div.section__account-menu_item-image
            img(src="assets/images/absences_icon.svg", alt="Icon")
          h3.section__account-menu_item-title Absences

      // Menu Item
      li.section__account-menu_item
        div.section__account-menu_item-block
          div.section__account-menu_item-image
            img(src="assets/images/tickets_icon.svg", alt="Icon")
          h3.section__account-menu_item-title Tickets


  // iframe
  iframe(src="0", id="1").section__account-frame