div.section.section__account-page
  div#menu-label.section__account-label.active
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.34 29.25"><defs><style>.cls-1{fill:#001331;}</style></defs><title>marker_icon_1</title><g id="Layer_2" data-name="Layer 2"><g id="Marker"><path class="cls-1" d="M1.79,29.25H0V0H6.53a3.81,3.81,0,0,1,3.81,3.81V19a3.81,3.81,0,0,1-.74,2.26L4.86,27.7A3.81,3.81,0,0,1,1.79,29.25Z"/></g></g></svg>
  div.section__account-menu
    ul.section__account-menu_list
      // Menu Item
      li.section__account-menu_item.active
        div.section__account-menu_item-block
          div.section__account-menu_item-bg
          div.section__account-menu_item-image
            img(src="assets/images/dashboard_icon.svg", alt="Icon")
          h3.section__account-menu_item-title Dashboard

      // Menu Item
      li.section__account-menu_item
        div.section__account-menu_item-block
          div.section__account-menu_item-bg
          div.section__account-menu_item-image
            img(src="assets/images/schedule_icon.svg", alt="Icon")
          h3.section__account-menu_item-title Schedule

      // Menu Item
      li.section__account-menu_item
        div.section__account-menu_item-block
          div.section__account-menu_item-bg
          div.section__account-menu_item-image
            img(src="assets/images/booking_icon.svg", alt="Icon")
          h3.section__account-menu_item-title Booking

      // Menu Item
      li.section__account-menu_item
        div.section__account-menu_item-block
          div.section__account-menu_item-bg
          div.section__account-menu_item-image
            img(src="assets/images/voice_icon.svg", alt="Icon")
          h3.section__account-menu_item-title Calls

      // Menu Item
      li.section__account-menu_item
        div.section__account-menu_item-block
          div.section__account-menu_item-bg
          div.section__account-menu_item-image
            img(src="assets/images/sms_icon.svg", alt="Icon")
          h3.section__account-menu_item-title SMS

      // Menu Item
      li.section__account-menu_item
        div.section__account-menu_item-block
          div.section__account-menu_item-bg
          div.section__account-menu_item-image
            img(src="assets/images/clients_icon.svg", alt="Icon")
          h3.section__account-menu_item-title Clients

      // Menu Item
      li.section__account-menu_item
        div.section__account-menu_item-block
          div.section__account-menu_item-bg
          div.section__account-menu_item-image
            img(src="assets/images/appointments_icon.svg", alt="Icon")
          h3.section__account-menu_item-title Appointments

      // Menu Item
      li.section__account-menu_item
        div.section__account-menu_item-block
          div.section__account-menu_item-bg
          div.section__account-menu_item-image
            img(src="assets/images/jobs-2_icon.svg", alt="Icon")
          h3.section__account-menu_item-title Jobs

      // Menu Item
      li.section__account-menu_item
        div.section__account-menu_item-block
          div.section__account-menu_item-bg
          div.section__account-menu_item-image
            img(src="assets/images/estimates_icon.svg", alt="Icon")
          h3.section__account-menu_item-title Estimates

      // Menu Item
      li.section__account-menu_item
        div.section__account-menu_item-block
          div.section__account-menu_item-bg
          div.section__account-menu_item-image
            img(src="assets/images/invoice_icon.svg", alt="Icon")
          h3.section__account-menu_item-title Invoices

      // Menu Item
      li.section__account-menu_item
        div.section__account-menu_item-block
          div.section__account-menu_item-bg
          div.section__account-menu_item-image
            img(src="assets/images/payments_icon.svg", alt="Icon")
          h3.section__account-menu_item-title Payments

      // Menu Item
      li.section__account-menu_item
        div.section__account-menu_item-block
          div.section__account-menu_item-bg
          div#absences-icon.section__account-menu_item-image
            img(src="assets/images/absences-2_icon.svg", alt="Icon")
          h3.section__account-menu_item-title Absences

      // Menu Item
      li.section__account-menu_item
        div.section__account-menu_item-block
          div.section__account-menu_item-bg
          div.section__account-menu_item-image
            img(src="assets/images/tickets_icon.svg", alt="Icon")
          h3.section__account-menu_item-title Tickets


  // iframe
  iframe(src="0", id="1").section__account-frame