div.section.section__login-page
  div.section__login-block
    form(action="#").section__login-form
      h3.section__login-form_title Sign In
      div.section__login-form_type
        label(for="form-email").section__login-form_label Email:
        input(type="email", name="form-email", placeholder="Your email")#form-email.section__login-form_input
      div.section__login-form_type
        label(for="form-password").section__login-form_label Password:
        input(type="password", name="form-password", placeholder="Your password")#form-password.section__login-form_input
      div.section__login-form_link
        a(href="#") Forgot password?
      input(type="submit", value="Sign In").dark-button.section__login-form_submit
