header.header
  section.header__loginPage
    div.login
      div.login__image
        img(src="../../assets/images/Logo.svg", alt="Logo").login__img
      div.login__text
        h1.login__title FieldService
        h2.login__subtitle Manage your business!