<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="assets/css/reset.css")
    link(rel="stylesheet", href="assets/css/style.css?=15")
    link(rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon")
    title FieldService
  body
    include headerAccount
    block content

    //- Scripts
    script(src="assets/js/main.js")
