div.section__account_softphone
  // Top of Taps
  div.section__account_softphone-top
    // Tap Item
    div.section__account_softphone-tap.section__account_softphone-home.inactive
      div.section__account_softphone-tap_icon
        <svg viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M14.9168 5.44357L17.2264 7.56825C17.4251 7.75067 17.4354 8.05745 17.249 8.25245C17.1519 8.35406 17.0208 8.40487 16.8891 8.40487C16.7683 8.40487 16.647 8.3618 16.5523 8.27422L8.99987 1.32629L1.4479 8.27422C1.25067 8.45761 0.938063 8.44745 0.751187 8.25245C0.564804 8.05745 0.574666 7.75067 0.773869 7.56825L8.99987 0L13.9306 4.5363V3.08227H14.9168V5.44357ZM3.08335 10.1613V7.74191L9.00028 2.41931L14.9167 7.74191V10.1613V15H10.9721V10.1613H7.02748V15H3.08335V10.1613Z" fill="#6093DE"/>
        </svg>
      div.section__account_softphone-tap_title Home
    
    // Tap Item
    div.section__account_softphone-tap.section__account_softphone-dial.inactive
      div.section__account_softphone-tap_icon
        <svg viewBox="0 0 12 15" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6.64068 10.7761H4.4328L3.68369 15H2.02778L2.77688 10.7761H0.5V9.14835H3.07258L3.64427 5.92376H1.2491V4.28571H3.93996L4.70878 0H6.35484L5.58602 4.28571H7.80376L8.57258 0H10.2186L9.44982 4.28571H11.5V5.92376H9.15412L8.58244 9.14835H10.7608V10.7761H8.28674L7.53763 15H5.89158L6.64068 10.7761ZM4.72849 9.14835H6.93638L7.50806 5.92376H5.30018L4.72849 9.14835Z" />
        </svg>
      div.section__account_softphone-tap_title Dial

    // Tap Item
    div.section__account_softphone-tap.section__account_softphone-calls.inactive
      div.section__account_softphone-tap_icon
        <svg viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M14.4578 10.8058C14.0072 10.4301 13.4774 10.1575 12.9066 10.0078C12.3358 9.85801 11.7382 9.83486 11.1572 9.93999C10.2073 10.015 9.4376 11.3035 9.4376 11.3035C9.4376 11.3035 8.7026 11.2285 6.83737 9.86499C5.66249 8.90217 4.87165 7.56194 4.60464 6.08122C5.07521 5.41106 5.45732 4.68486 5.74181 3.92005C5.90587 3.18689 5.79209 2.42006 5.42184 1.76354C5.0516 1.10702 4.45034 0.605959 3.73096 0.35444C1.65078 -0.545483 0.52055 0.55215 0.52055 0.55215C0.410885 2.58588 0.741049 4.61936 1.48926 6.51844C2.23747 8.41751 3.38672 10.139 4.8612 11.5694C6.2111 12.9375 7.89112 13.9474 9.74486 14.5053C11.5986 15.0632 13.5657 15.1508 15.4632 14.76C15.5123 14.2316 15.5123 13.6999 15.4632 13.1715C15.444 12.2864 15.0848 11.4412 14.4578 10.8058Z" />
        </svg>
      div.section__account_softphone-tap_title Calls

    // Tap Item
    div.section__account_softphone-tap.section__account_softphone-contacts.inactive
      div.section__account_softphone-tap_icon
        <svg viewBox="0 0 21 17" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M14.6364 16V14.3333C14.6364 12.4924 13.1101 11 11.2273 11H4.40909C2.5263 11 1 12.4924 1 14.3333V16" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M7.81802 7.66666C9.70081 7.66666 11.2271 6.17428 11.2271 4.33333C11.2271 2.49238 9.70081 1 7.81802 1C5.93524 1 4.40894 2.49238 4.40894 4.33333C4.40894 6.17428 5.93524 7.66666 7.81802 7.66666Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M19.7499 16V14.3333C19.7488 12.8143 18.6974 11.4881 17.1931 11.1083" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M13.7839 1.10832C15.2924 1.48596 16.3474 2.81498 16.3474 4.33749C16.3474 5.85999 15.2924 7.18901 13.7839 7.56665" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      div.section__account_softphone-tap_title Contacts
    
  div.section__account_softphone-noneText
    p In your account the telephone function is not plugged



