mixin notification-item(img_url, typeImg_url, text, period)
  // Notification Item
  div.header__account-navigate_notices-item
    div.header__account-navigate_notices-img
      img(src=img_url, alt="notification")
    div.header__account-navigate_notices-pretitle
      div.header__account-navigate_notices-text= text
      div.header__account-navigate_notices-date
        div.header__account-navigate_notices-type
          img(src=typeImg_url, alt="type")
        div.header__account-navigate_notices-number= period


div.header__account-navigate_notices
  div.header__account-navigate_notices-beeper
    div.header__account-navigate_notices-beeper_fill
  div.header__account-navigate_notices-header
    div.header__account-navigate_notices-title Notifications
    div.header__account-navigate_notices-readAll Mark All as Read
  div.header__account-navigate_notices-block
    +notification-item('assets/images/notice-standard_icon.svg', 'assets/images/comments_icon.svg', 'Notification texttttttttttttttttttttttttttttttttttttttttttttt', '3 days')
    +notification-item('assets/images/notice-standard_icon.svg', 'assets/images/comments_icon.svg', 'Notification text', '3 days')
    +notification-item('assets/images/notice-standard_icon.svg', 'assets/images/comments_icon.svg', 'Notification text', '3 days')
    +notification-item('assets/images/notice-standard_icon.svg', 'assets/images/comments_icon.svg', 'Notification text', '3 days')
    +notification-item('assets/images/notice-standard_icon.svg', 'assets/images/comments_icon.svg', 'Notification text', '3 days')
    +notification-item('assets/images/notice-standard_icon.svg', 'assets/images/comments_icon.svg', 'Notification text', '3 days')
    +notification-item('assets/images/notice-standard_icon.svg', 'assets/images/comments_icon.svg', 'Notification text', '3 days')
    +notification-item('assets/images/notice-standard_icon.svg', 'assets/images/comments_icon.svg', 'Notification text', '3 days')
    +notification-item('assets/images/notice-standard_icon.svg', 'assets/images/comments_icon.svg', 'Notification text', '3 days')
    +notification-item('assets/images/notice-standard_icon.svg', 'assets/images/comments_icon.svg', 'Notification text', '3 days')
    +notification-item('assets/images/notice-standard_icon.svg', 'assets/images/comments_icon.svg', 'Notification text', '3 days')
    +notification-item('assets/images/notice-standard_icon.svg', 'assets/images/comments_icon.svg', 'Notification text', '3 days')
    +notification-item('assets/images/notice-standard_icon.svg', 'assets/images/comments_icon.svg', 'Notification text', '3 days')
    +notification-item('assets/images/notice-standard_icon.svg', 'assets/images/comments_icon.svg', 'Notification text', '3 days')

