section.primitive-main-menu
  div.primitive-main-menu__links
    a(href="account.html").primitive-main-menu__link Account
    a(href="account-non-softphone.html").primitive-main-menu__link Account non Softphone
    a(href="accounts.html").primitive-main-menu__link Accounts
    a(href="callList-frame.html").primitive-main-menu__link Call List Frame
    a(href="content-booking.html").primitive-main-menu__link Content Booking
    a(href="login.html").primitive-main-menu__link Login
    a(href="recovery.html").primitive-main-menu__link Recovery
    a(href="email-sent.html").primitive-main-menu__link Email Sent
